:root {
    --default-text-color: #007FBD;
}

.tab-content {
    background: #e8f2f9;
}

@media (min-width: 992px) {
    .col-md-1half {
        width: 12.5555555%;
    }

    .col-md-10half {
        width: 87.5555555%;
    }
}

@media (min-width: 992px) {
    .col-md-1half,
    .col-md-10half {
        float: left;
    }
}

.col-md-1half,
.col-md-10half {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.header-wrapper {
    height: 45px;
    line-height: 29px;
}

.top-section {
    /*background: linear-gradient(to bottom,#fbfbfb 0%,#ececec 39%,#ececec 39%,#c1c1c1 100%);*/
    /*background:#046385;*/
    background: #007FBD;
    margin: 0px;
    height: 45px;
    width: 100%;
    color: #000;
    padding: 0px;
    border-left: solid 1px #e3d3d3 !important;
    border-right: solid 1px #e3d3d3 !important;
}

.top-section a.top-login {
    display: none;
}

.top-section .btn-group.messenger {
    margin-left: -12px;
}

.top-section a i.fa {
    font-size: 20px;
}

.top-section a i.fa.tpspce {
    top: 3px;
    position: relative;
}

.top-section li ul li a i.fa,
.top-section li ul li button i.fa {
    margin-right: 5px;
}

.secondary-header {
    display: inline-block;
    background: #eceff1;
    border-left: solid 1px #e3d3d3 !important;
    border-right: solid 1px #e3d3d3 !important;
    margin: -5px 0 0 0;
    padding: 4px 0 0 0;
}

.he-player {
    height: 45px;
    width: 200px;
    margin-top: -3px;
    display: inline-block;
}

.topbar-nav.menu .audio {
    background: #5590c1 none repeat scroll 0 0;
    border: 1px dashed #fff;
    border-radius: 4px;
    float: left;
    margin-left: 5px;
    padding: 5px;
    position: relative;
    width: 100px;
    margin-right: 0px;
    margin-top: 3px;
    top: 4px;
    height: 30px;
    display: block !important;
}

.topbar-nav.menu li .audio a {
    line-height: 25px !important;
    padding: 0 !important;
}

.topbar-nav.menu li .audio a:hover {
    background: transparent !important;
}

.mt-pr-none {
    margin-top: 0px;
    padding: 0px;
}

.top-calendar {
    width: 230px;
    background: linear-gradient(
            to bottom,
            #e0dfdf57 20%,
            #eaeaea 49%,
            #eaeaea 8%,
            #a3a3a357 100%
    ) !important;
    background: transparent;
    color: #000;
    cursor: pointer;
    float: left;
    height: 40px;
    margin-left: 5px;
    border: 1px solid #9e9e9e59;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    position: relative;
    left: 0px;
    font-weight: bold;
}

.currency {
    float: none !important;
    top: 3px !important;
    margin: 0px !important;
    height: 36px !important;
    position: relative;
}

.currency select {
    /*border: solid 1px #bfbfbf;background:linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.075); */
    background: transparent;
    border: none;
    box-shadow: none;
    width: 65px;
    height: 40px;
    padding: 5px 0px;
    border-radius: 0px;
    font-weight: bold;
    color: #616161 !important;
}

.main-menu {
    background-image: linear-gradient(
            to bottom,
            #e8e0e0 0%,
            #ececec 39%,
            #fbf4f4 39%,
            #8a8989 100%
    );
    width: 100%;
    border-bottom: 1px solid rgba(1, 2, 2, 0.2);
    /*height: 70px;*/
    margin-left: 0px;
    margin-top: -10px;
}

.outside-box,
.admin-box {
    /*background-image: linear-gradient(to bottom, #e8e0e0 0%, #ececec 39%, #fbf4f4 39%, #8a8989 100%);*/
    left: 0px !important;
    margin-top: 5px;
    display: inline-block;
    margin-left: 10px;
    float: left;
    width: 91%;
}

.header-box {
    margin-left: 0px;
    float: right;
    width: 100px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    inset 0 2px 5px rgba(255, 255, 255, 0.5),
    inset 0 -2px 5px rgba(0, 0, 0, 0.1);
    background: transparent linear-gradient(#ffffff, #e6e6e6, #cecece) repeat scroll 0% 0%;
    border-color: #bfbfbf;
    background-color: #e6e6e6;
    background-color: #e6e6e6;
    padding: 5px 10px 5px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    width: auto;
}

.header-box .dropdown-menu > li > a {
    padding: 7px 15px !important;
}

.lang-right,
.button-box {
    margin-left: 0px;
    float: left;
    width: 100%;
    /* border-left: 1px solid #ccc !important;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.075); inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 5px rgba(0, 0, 0, 0.1); */
    /* background: linear-gradient(to bottom, #fff 0, #e0e0e0 100%); transparent linear-gradient(#ffffff, #e6e6e6, #CECECE) repeat scroll 0% 0%;
      border-color: #bfbfbf;background-color: #e6e6e6;
      background-color: #e6e6e6;
      border-color: #bfbfbf; */
    padding: 5px 10px 5px 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    height: auto;
    line-height: 18px;
}

.lang-right .dropdown-menu > li > a {
    padding: 10px 20px;
}

.lang-right a img {
    width: 24px;
    height: 24px;
    top: 5px;
    position: relative;
    margin-right: 5px;
}

.user-box {
    margin-top: 2px;
}

.top-section a {
    color: #616161 !important;
    border: none;
    padding: 8px 5px 10px 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    box-shadow: none !important;
}

.top-section .btn-group > a {
    border-right: solid 1px #ccc;
    padding-left: 5px;
    border-radius: 0px;
}

.top-section .border-right {
    border-right: solid 1px #ccc;
    padding: 0px 5px;
}

.top-section .dropdown-content a {
    /*background: linear-gradient(to bottom, #fff 0, #e0e0e0 100%) !important;*/
    background: linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%) !important;
}

.top-section .dropdown-content a:hover {
    background: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%) !important;
}

.en-icon {
    float: left !important;
    margin-top: -5px !important;
    background-size: contain !important;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.header-btn {
    border: none;
    padding-bottom: -40px;
    width: 140px;
    background: transparent;
    padding-left: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.service-box {
    background: transparent linear-gradient(#FBFBFB, #ECECEC, #CECECE) repeat scroll 0% 0% !important;
    border: 0.3px #ccc solid;
    text-align: center;
    /**/
    border-radius: 6px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) !important;
    margin-left: 2px;
    width: 89px !important;
    height: 107px !important;
    padding: 8px 6px !important;
    text-decoration: none !important;
    float: left !important;
    position: relative;
    top: 0px;
}

.admin-box .service-box {
    width: 117px !important;
}

#service-i {
    float: right;
    width: 100%;
    text-align: center;
    font-size: 26px;
    color: #007FBD;
    /*border-bottom: 3px solid red;*/
}

.font-10 {
    font-size: 10px;
}

#service-currency {
    font-size: 20px;
    float: right;
    color: var(--default-text-color);
    display: inline-block;
    position: absolute;
    width: 5%;
    text-align: right;
    font-weight: 700;
    right: 28px;
    top: 40px;
}

.service-b {
    color: #007FBD;
    font-size: 16px !important;
    font-weight: 800;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}

.service-b.currency {
    text-align: right !important;
    right: 25%;
    position: relative;
    font-size: 16px !important;
}

.service-hr {
    margin-top: -3px;
    border-top-color: #ff9800;
    margin-bottom: 0px;
}

.service-p {
    font-size: 12px;
    display: block;
    margin-top: -4px;
    padding-bottom: 3px;
    font-weight: 900;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: #007FBD !important;
}

.service-box, .sales_stats .service-box .bills_stats, .service-box .profit_stats, .service-box .incomes_stats, .service-box .expenses_stats, .service-box .cashflow_stats,
.service-box .rides_stats, .service-box .bookings_stats, .service-box .quotes_stats, .service-box .contracts_stats, .service-box .invoices_stats, .service-box .clients_stats,
.service-box .cars_stats, .service-box .drivers_stats, .service-box .partners_stats, .service-box .affiliates_stats, .service-box .jobseekers_stats {
    width: 100%;
    padding: 2px;
    border-radius: 7px;
    margin-top: 2px;
}

.flag {
    width: 40px;
}

.footer-bg {
    /*background: transparent linear-gradient(#fbfbfb, #ececec, #cecece) repeat scroll 0% 0% !important;
    border-left: solid 1px #e3d3d3;
    border-right: solid 1px #e3d3d3;*/
    background: #046385 !important;
}

.body-border {
    background: #eceff1 !important; /*#eff8fe */
    border: none !important;
    border-left: none !important;
    border-right: none !important;
}

.content-border {
    border-left: solid 1px #e3e3e3;
    border-right: solid 1px #e3e3e3;
}

/* Footer */
.footer-new {
    color: #fff;
    height: 45px;
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 10px;
    background: #007FBD !important;
    /*background: #046385 !important;*/
}

.develop-p {
    padding: 0px;
    font-size: 14px;
    color: #fff;
}

.develop-p a {
    color: #fff !important;
}

.contact {
    padding: 0px;
    float: left;
    width: 100%;
}

span.call-us {
    margin-left: 0px;
    color: #fff !important;
    font-size: 15px;
}

span.ticket-support {
    margin-left: 0px;
    color: #fff !important;
    font-size: 15px;
}

#content {
    margin-top: -10px;
    padding: 10px;
    border-left: solid 1px #e3d3d3 !important;
    border-right: solid 1px #e3d3d3 !important;
    box-shadow: none !important;
    background-color: #eceff1;
    /*background-color: #eff8fe;*/
    background-image: url(images/paper_01.png);
    border-color: #ededed;
    overflow: visible;
    min-height: 700px;
}

.breadcrumb {
    background: transparent !important;
    padding: 5px 0px !important;
    margin-bottom: 0px !important;
    color: #007FBD !important;
    /*color:#2E88C2!important;*/
}

.dataTables_length,
.dataTables_filter {
    display: none;
}

.module-head h2 {
    font-size: 18px;
    padding: 5px 0;
    margin: 0;
}

.module {
    border: none;
    border-radius: 5px;
    margin: 20px 0;
    padding-bottom: 15px;
}

.module .btn {
    margin-left: 0px;
    border: 1px solid #999;
    /*color:#fff !important;*/
}

.module .btn.custom_gray_bg {
    color: #000000 !important;
}

.padding-b {
    padding-bottom: 3px !important;
}

.btn-mar {
    margin-top: 35px;
}

.btn-time {
    /*margin:5px 0px 0px;*/
    font-weight: 600;
    color: #fff !important;
    padding: 2px 1px !important;
    font-size: 13.5px;
}

.filter-group {
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ddd 100%);
    height: 45px;
    margin: 0px 0px 20px 0px;
    border-radius: 4px;
    border: solid 1px #efefef;
    padding: 5px;
    text-align: center;
}

.filter-label {
    padding: 0px;
    font-size: 15px;
    display: block;
    position: relative;
    margin: 0px;
}

.chart-outside {
    /*padding: 5px 5px 5px 5px;*/
    /*height: 360px;*/
    border: 1px solid #dddddd;
    border-radius: 5px;
    text-align: center;
    /*background-color: #f5f5f5 !important;*/
    background: #F8F8F8 !important;

    /*background:transparent linear-gradient(#FBFBFB,#ECECEC,#CECECE) repeat scroll 0% 0% !important;*/

    min-height: 468px;
    /*min-height:500px;*/
}

.handle {
    /*background: linear-gradient(to bottom,rgb(222, 215, 215) 0%,rgba(255, 255, 255, 1) 49%,rgb(224, 222, 222) 100%) !important;*/
    /*background:linear-gradient(to bottom,#0d85a8 0%, #35add1 39%,#44c0e5 100%) !important;*/
    /*background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));*/
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f1f1f1));
    height: 40px !important;
    position: relative;
    font-size: 14px !important;
    padding: 8px 10px;
    margin: 0;
    text-align: center;
    line-height: 25px;
    margin-bottom: 1px;
    cursor: pointer;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #007FBD;
    text-transform: uppercase;
    font-weight: 900 !important;
    text-shadow: none;
    border-bottom: 1px solid #D1D1D1;
}

.handle:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#f6f6f6));
}

.btn-mar {
    margin-top: 0;
    margin-bottom: 10px;
}

.charts {
    margin-left: 10%;
    width: 79%;
    padding: 0px;
    position: relative;
    text-align: left;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    /*-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);*/
    /*-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);*/
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);
}

input[type="password"] {
    height: 36px !important;
}

.lang-icons {
    float: left;
    top: 0px;
    position: relative;
}

body {
    background: linear-gradient(to right, #e0e0e0 0, #e0e0e0 100%) !important;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}

header {
    background: transparent !important;
}

/*#f1f1f1 */
.body-bg {
    background: #f5f9ff !important; /*#f1f1f1*/
}

.lang-right {
    padding: 1px 5px 1px 5px;
    top: 0px;
    position: relative;
}

.lang-right.admin {
    top: -4px;
}

.tot-top {
    padding: 0px 3px;
}

.lang-icons ul.dropdown-menu > li > a,
.userli ul.dropdown-menu > li > a {
    padding: 10px 20px;
    background: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
}

.userli .greetings {
    float: left;
    font-weight: bold;
    text-transform: capitalize;
    color: #616161;
    font-size: 12px;
    height: 40px;
    text-align: center;
    line-height: 45px;
    margin: 0px 4px;
}

.userli .user-text {
    top: -3px;
    position: relative;
}

.unread {
    background-color: #eee !important;
}

input[type="text"] {
    height: 36px;
}

.form-group {
    padding-bottom: 0px !important;
    margin-bottom: 0 !important;
}

.col-xs-1 {
    padding-right: 0px !important;
}

.form-control {
    float: none;
    background-color: #fff !important;
    border-style: solid !important;
    border-color: #66afe9 !important;
    border-width: thin !important;
    box-shadow: none !important;
    /*background: transparent linear-gradient(#FBFBFB, #ECECEC, #CECECE) repeat scroll 0% 0% !important;*/
}

div.dt-buttons {
    float: right;
}

.navbar-nav.menu li {
    border-left: 1px solid #ccc !important;
    height: 50px;
    margin: 0px !important;
}

.navbar-nav.menu li a {
    color: #fff !important;
    font-size: 11px;
    margin: 0px !important;
    padding: 18px 4px 10px 3.5px;
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.2s;
    outline: none;
}

.navbar-nav.menu li a:hover,
.navbar-nav.menu li a:focus {
    /*background: linear-gradient(to bottom, #ececec 0%, #ececec 39%, #f0efef 39%, #b7b3b3 100%) !important;
  color: #616161 !important;
  font-size: 10px;
  margin: 0px !important;
  padding: 15px 3px 10px 1px;
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s;
  outline: none;
  }
  .navbar-nav.menu li a:hover,.navbar-nav.menu li a:focus {
      /*background: linear-gradient(to bottom, #ececec 0%, #ececec 39%, #f0efef 39%, #b7b3b3 100%) !important;
      background:linear-gradient(to bottom,  #c1c1c1 0%, #ececec 39%, #ececec 39%, #fbfbfb 100%) !important;
    background: linear-gradient(to bottom,#c1c1c1 4%,#ececec 30%,#ececec 50%,#b7b3b3 100%) !important;*/
    background: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%) !important;
    color: #fff !important;
    cursor: pointer;
}

.navbar-nav.menu li.active a {
    /*background:linear-gradient(to bottom,  #c1c1c1 0%, #ececec 39%, #ececec 39%, #fbfbfb 100%) !important;*/
    /*background: linear-gradient(to bottom,#c1c1c1 4%,#ececec 30%,#ececec 50%,#b7b3b3 100%) !important;*/
    background: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%) !important;
}

.navbar-nav li ul.dropdown-menu li a,
.navbar-nav li.open ul.dropdown-menu li a {
    /*background: linear-gradient(to bottom, #fff 0, #e0e0e0 100%) !important;*/
    background: linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    height: 50px;
    padding: 18px 10px 10px !important;
}

.navbar-nav.menu li.open a {
    /*background:linear-gradient(to bottom,  #c1c1c1 0%, #ececec 39%, #ececec 39%, #fbfbfb 100%) !important;
    background: linear-gradient(to bottom,#c1c1c1 4%,#ececec 30%,#ececec 50%,#b7b3b3 100%) !important;*/
    background: linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
}

.navbar-nav.menu li.open ul.dropdown-menu li a:hover,
.navbar-nav.menu li.open ul.dropdown-menu li a:focus {
    /*background:linear-gradient(to bottom,  #c1c1c1 0%, #ececec 39%, #ececec 39%, #fbfbfb 100%) !important;
    background: linear-gradient(to bottom,#c1c1c1 4%,#ececec 30%,#ececec 50%,#b7b3b3 100%) !important;*/
    background: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%) !important;
}

.navbar-nav.menu li a i.fa {
    margin-right: 5px;
}

.navbar-nav.menu li ul.dropdown-menu {
    padding: 0px !important;
}

.topbar-nav.menu {
    height: 50px;
    margin-left: -17px;
}

.topbar-nav.pull-right {
    margin-right: 11px;
}

.topbar-nav.menu li {
    float: left;
    border-right: none !important;
    margin: 0px !important;
    padding: 0px;
}

.topbar-nav li:last-child {
    border-right: none !important;
}

.topbar-nav.pull-right li:first-child {
    border-left: none !important;
}

ul.topbar-nav.pull-right li.users-submenu {
    border-right: none !important;
    margin-right: -24px !important;
}

.topbar-nav.menu li a {
    color: #fff !important;
    font-size: 11px;
    margin: 0px !important;
    padding: 10px 3px 10px 3px;
    display: block !important;
    width: 100% !important;
    text-transform: capitalize;
    font-weight: 900;
    transition: 0.2s;
    outline: none;
    height: 45px;
    line-height: 29px;
    border-radius: 0px !important;
    text-shadow: none;
}

.topbar-nav.menu li span.open > a,
.topbar-nav.menu li.open > a,
.topbar-nav.menu li a:hover,
.navbar-nav.menu li a:focus {
    /*background:linear-gradient(to bottom, #ececec 0%, #ececec 39%, #f0efef 39%, #b7b3b3 100%) !important;
      background:linear-gradient(to bottom,  #c1c1c1 0%, #ececec 39%, #ececec 39%, #fbfbfb 100%) !important;
    background: linear-gradient(to bottom,#c1c1c1 4%,#ececec 30%,#ececec 50%,#b7b3b3 100%) !important;*/
    background: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%) !important;
    color: #fff !important;
    border-radius: 0px !important;
}

.topbar-nav.menu li.active a {
    /*background:linear-gradient(to bottom, #ececec 0%, #ececec 39%, #f0efef 39%, #b7b3b3 100%) !important;
    background: linear-gradient(to bottom,#c1c1c1 4%,#ececec 30%,#ececec 50%,#b7b3b3 100%) !important;*/
    background: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%) !important;
}

/*
.topbar-nav li.lang-switch {
  width: 100px;
}
*/
.topbar-nav li.lang-switch a {
    padding: 10px 6px !important;
}

.topbar-nav li .en-icon {
    margin-top: 0px !important;
    margin-right: 5px;
}

.topbar-nav .ew-container {
    margin: 0px !important;
    overflow: hidden;
}

.topbar-nav li ul li {
    /*background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%) !important;*/
    background: linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%) !important;
}

.topbar-nav li .user-status {
    float: left;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    background: #ff0000;
    width: 12px;
    height: 12px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 2px;
}

.topbar-nav li .user-status.online {
    /*background:radial-gradient(ellipse at center, #feffff 0%,#8deb49 35%,#25a30d 100%) !important;*/
    background: url("../images/status-online.png") no-repeat;
    width: 16px;
    height: 16px;
}

.topbar-nav li .user-status.away {
    background: url("../images/status-away.png") no-repeat;
    width: 16px;
    height: 16px;
}

.topbar-nav li .user-status.offline {
    background: url("../images/status-offline.png") no-repeat;
    width: 16px;
    height: 16px;
}

.topbar-nav li.no-border {
    border-right: 0px !important;
}

.topbar-nav li ul.dropdown-menu {
    padding: 0px !important;
}

table.dataTable thead th {
    padding: 12px 18px !important;
    border-right: solid 1px #D1D1D1;
    white-space: nowrap;
    border-bottom: 1px solid #D1D1D1;
    background: linear-gradient(to bottom, #F7F7F7 0%, #F8F8F8 39%, #D5D5D5 100%) !important;
    color: #333333;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background: #f9f9f9 !important;
}

.dataTables_paginate a {
    color: #000 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background: linear-gradient(to bottom, #F7F7F7 0%, #F8F8F8 39%, #D5D5D5 100%) !important;
    color: #000 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: linear-gradient(to bottom, #F7F7F7 0%, #D5D5D5 39%, #F8F8F8 100%) !important;
    /*background:linear-gradient(to bottom, #F7F7F7 0%, #D5D5D5 39%,#F8F8F8 100%) !important;*/
    border: solid 1px #dddddd !important;
}

.dataTables_paginate .paginate_button.disabled, .dataTables_paginate .paginate_button.disabled:active {
    background: #e0e0e0 !important;
}

.dataTables_paginate a.paginate_button.previous {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dataTables_paginate a.paginate_button.next {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*
table.dataTable tbody tr.even td,table.dataTable tbody tr.odd {  
  background-color: #fff !important;
  background: #fff !important;
}
*/
table.dataTable > tbody > tr:nth-of-type(odd) {
    background-color: #e2f3ff !important;
    background: #e2f3ff !important;
}

table.dataTable > tbody > tr:nth-of-type(even) {
    background-color: #f5f9ff !important;
    background: #f5f9ff !important;
}

table.dataTable tbody tr:hover.even, table.dataTable tbody tr:hover.odd {
    background-color: #E2F3FF !important;
    cursor: pointer;
    /*color: #fff;*/
}

table.dataTable.cell-border tbody th,
table.dataTable.cell-border tbody td {
    font-size: 13px;
}

table.dataTable.no-footer {
    border-bottom: solid 1px #cccccc !important;
}

.module-filter input,
.module-filter select {
    float: left;
    padding: 4px !important;
    margin-right: 2px !important;
    font-size: 13px;
    height: 32px !important;
    border: solid 1px #66afe9 !important;
    color: #0d4f78 !important;
}

.module .no-right-pad {
    margin-right: -15px !important;
    float: right;
}

.social-icons ul li {
    display: none !important;
}

.top-pack-book-links ul li a.bookmark {
    display: none !important;
}

.audio {
    display: none;
}

.french-contact-number {
    display: none;
}

.call-us-girl {
    display: none;
}

.header-icons-fr {
    display: none;
}

.menu-total {
    float: none !important;
    /*background: linear-gradient(to bottom,#fbfbfb 0%,#ececec 39%,#ececec 39%,#c1c1c1 100%);*/
    background: linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
}

.navbar.menu-total {
    border-radius: 0px !important;
}

#navbar > ul {
    padding-left: 0px;
}

#navbar > ul li:first-child a {
    border-radius: 0px;
    width: auto !important;
}

.phone,
.user-icon {
    /*background: rgba(0, 0, 0, 0.4);

    border: 1px solid #464646;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    text-align: center;
    line-height: 26px;
    float: left;
    color: white;
      border: 1px solid #464646;
      width: 45px;
      height: 32px;
      border-radius: 100%;
      text-align: center;
      line-height: 26px;
      float: left;
      color: white;*/
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    line-height: 26px;
    float: left;
    color: white;
}

.user-icon {
    top: -8px;
    margin-right: 5px;
    position: relative;
}

.user-icon img {
    /*
  float: left;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 0px;
  */
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 0px;
    border: 2px solid #fff;
}

.top-section .dropdown-menu {
    width: 100%;
    min-width: 98px;
}

#navbar {
    padding: 0;
    border-left: solid 1px #e3d3d3;
    border-right: solid 1px #e3d3d3;
}

.secondary-header .padding-p-r {
    margin-top: 0px;
}

.open > .dropdown-menu {
    display: grid;
}

.logo {
    /*margin: 0px 0px 0px 2px !important;*/
    background: linear-gradient(to bottom, #fbfbfb 0%, #ececec 39%, #ececec 39%, #c1c1c1 100%) !important;
    display: block;
    /*height: 120px !important;*/
    left: inherit;
    position: relative;
    top: inherit;
    width: 150px;
}

.logo img {
    left: -10px;
    width: 100% !important;
    height: 100% !important;
    left: 0%;
    position: relative;
}

.close span {
    text-indent: 0;
    display: inline;
}

.btn-circle {
    border-radius: 50%;
    margin-right: 5px;
}

.btn-circle.btn-sm {
    padding: 1px 5px;
    /*margin-top: 5px;*/
    outline: none;
}

#noteDIv .row {
    margin-bottom: 10px;
}

#attachDiv input[type="file"] {
    margin-top: 5px;
    outline: none;
}

.dataTables_wrapper .dataTables_filter input {
    margin-right: 2px;
    margin-left: 0 !important;
    max-width: 86px !important;
    width: 100% !important;
    float: right;
}

.toolbar {
    float: right;
    margin-right: 4px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #fefefe;
    border-radius: 4px !important;
    color: #000 !important;
}

.table-filter {
}

.table-filter input, .table-filter select {
    max-width: 6.6%;
    float: left;
    width: 100%;
    height: 32px !important;
    padding: 2px !important;
    margin-right: 2px !important;
    font-size: 12px;
    font-family: 'Open Sans' !important;
}

.table-filter select {
    max-width: 80px;

}

.table-filter .dpo {
    max-width: 98px;
}

.attach-label {
    padding-top: 10px;
    width: 18%;
    float: left;
    text-align: center;
}

.attach-div {
    padding-top: 5px;
    display: inline-block;
    width: 82%;
    float: right;
    text-align: right;
}

.attach-file {
    overflow: hidden;
    width: 47%;
    float: left;
}

.attach-buttons {
    width: 47.5%;
    float: right;
}

.normal-addon {
    border: 0;
    background: #f5f5f5 !important;
}

.navbar-badge {
    position: absolute !important;
    /*right: 3px !important;*/
    top: 2px !important;
    background: linear-gradient(to bottom, #ff7978 39%, #FF2725 100%);
    padding: 3px 6px !important;
    color: #fff;
}

.messenger-btn .navbar-badge {
    top: 4px !important;
}

.btn-group > .btn {
    height: 40px !important;
    line-height: 30px !important;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    color: #000;
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
    background: linear-gradient(to bottom, #fafdff 0%, #e8f2f9 100%);
}

/*Left*/
.modal.left.fade .modal-dialog {
    z-index: 9999;
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #b6dce8;
    background-color: #eff8fe;
}

/* ----- v CAN BE DELETED v ----- */
.demo {
    padding-top: 60px;
    padding-bottom: 110px;
}

.btn-demo {
    margin: 15px;
    padding: 10px 15px;
    border-radius: 0;
    font-size: 16px;
    background-color: #ffffff;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: transparent !important;
    opacity: inherit !important;
}

.card {
    background-color: #fff;
}

.card-body3 {
    padding: 15px;
}

.height-div3 {
    height: 100%;
    overflow-y: auto;
}

.height-div3::-webkit-scrollbar {
    background-color: #e7e7e7;
    width: 5px;
}

.height-div3::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    width: 5px;
}

.user-image-div .circle-rounded {
    border-radius: 100%;
    width: 50px;
}

.filter-div {
    /*margin-bottom: 0px;*/
}

.users-chat-div {
    clear: both;
    border-bottom: 1.5px dashed lightgrey;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.users-chat-div2 {
    clear: both;
    border-bottom: 1.5px dashed lightgrey;
    padding-bottom: 8px;
    position: relative;
}

.users-chat-div:hover {
    background-color: #d3d3d34d;
}

.user-image-div,
.usercontent-div {
    display: inline-block;
    clear: both;
}

.user-image-div {
    float: left;
}

.usercontent-div {
    padding-left: 10px;
}

.usercontent-div p {
    margin: 0px;
}

.chat-badge {
    position: absolute;
    top: 28px;
    right: 5px;
    background-color: red;
}

.chat-badge-time {
    position: absolute;
    top: 2px;
    right: 10px;
    color: grey;
}

.real-chat-badge {
    position: absolute;
    top: 0px;
    right: 10px;
    color: grey;
}

.fa-circle2 {
    position: absolute;
    bottom: 11px;
    left: 45px;
    border: 2px solid #fff;
    border-radius: 100%;
}

.status_active {
    color: green;
}

.usercontent-div p:nth-child(2) {
    color: grey;
}

.fa-check {
    color: lightgrey;
}

.reply-div-ul {
    margin: 0px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    list-style-type: none;
}

.reply-div-ul li {
    float: left;
    padding-right: 15px;
    cursor: pointer;
}

.replybtn {
    color: silver !important;
    padding: 6px 10px !important;
    height: inherit !important;
}

textarea {
    overflow: auto;
    resize: none;
}

.detail-content p {
    margin-bottom: 5px;
}

.chat-main {
    position: fixed;
    width: 300px;
    bottom: 0;
    left: 350px;
    z-index: 9999;
}

.chat-header {
    background: #4267b2;
    padding-top: 1px;
    padding-bottom: 1px;
}

.username i {
    font-size: 9px;
}

.username h6 {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
}

.options i {
    font-size: 14px;
    font-weight: normal;
    opacity: 0.7;
}

.options .live-video {
    font-size: 6px;
}

.chats {
    height: 260px;
    overflow-x: scroll;
    overflow-x: hidden;
}

.chats ul li {
    list-style: none;
    clear: both;
    font-size: 13px;
}

.chats .send-msg {
    float: right;
}

.receive-msg img {
    border-radius: 100%;
    height: 30px;
    /*width: 12%;*/
}

.receive-msg-img {
    display: inline;
}

.receive-msg .receive-msg-desc {
    /*display: inline-block;*/
}

.receive-msg .receive-msg-desc p {
    background: #c1c1c1;
    display: inline-block;
}

.message-box input {
    border: none;
    font-size: 13px;
}

.message-box input:focus {
    outline: none;
}

.tools i {
    color: #a1a1a1;
    cursor: pointer;
    font-size: 20px;
    margin-right: 6px;
}

.rounded-top {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.text-white {
    color: #fff !important;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.rounded {
    border-radius: 0.25rem !important;
}

.pr-2,
.px-2 {
    padding-right: 0.5rem !important;
}

.pl-2,
.px-2 {
    padding-left: 0.5rem !important;
}

.mb-1,
.my-1 {
    margin-bottom: 0.25rem !important;
}

.message-box input:focus {
    box-shadow: none !important;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    box-shadow: none !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    left: -7px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #3e9d38;
}

input:focus + .slider {
    box-shadow: 0 0 1px #3e9d38;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.popover-content {
    padding: 5px 5px;
}

.quickchatreply {
    padding: 0px;
    margin: 0px;
}

.quickchatreply li {
    list-style-type: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.quickchatreply li:hover {
    background-color: #e5e5e5;
}

#chatsbox ul li a {
    color: silver;
}

#user-nav .btn-group,
.btn-group-vertical {
    float: left;
}

/* Dropdown Button */
.dropbtn {
    background: linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: none;
    color: #fff;
    padding: 10px 10px;
    border: none;
}

.dropbtn:hover {
    background: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%) !important;
    color: #fff !important;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -201px;
    top: -7%;
    overflow: auto;
    min-height: 100px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

#user-nav .btn-group > .btn {
    font-weight: bold;
}

#Box_JBEEB_20 {
    box-shadow: none !important;
}

.admin_border,
.datepicker-dropdown {
    border: 1px solid #ccc !important;
    /*border: solid 1px #e3d3d3 !IMPORTANT;*/
}

img.admin_border {
    border: 4px solid #2E88C2 !important;
}

.breadcrumb > a {
    /*color:#2E88C2;*/
    color: #007FBD;
}

.breadcrumb > a:last-child {
    color: #007FBD;
}

.custom_gray_bg,
#img_preview {
    background: linear-gradient(
            to bottom,
            #fbfbfb 0%,
            #ececec 39%,
            #ececec 39%,
            #c1c1c1 100%
    );
}

.rubens {
    width: 100%;
    float: left;
    height: 45px;
    color: #000;
}

.ew-forecasts {
    display: inline-flex;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.datepicker table tr td.active.active {
    background: linear-gradient(
            to bottom,
            #fbfbfb 0%,
            #ececec 39%,
            #ececec 39%,
            #c1c1c1 100%
    );

    color: black;
}

.datepicker-dropdown {
    background: linear-gradient(
            to bottom,
            rgb(222, 215, 215) 0%,
            rgba(255, 255, 255, 1) 49%,
            rgb(224, 222, 222) 100%
    ) !important;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.datepicker table tr td, .datepicker table tr th {
    background: linear-gradient(to bottom, #fbfbfb 0%, #ececec 39%, #ececec 39%, #c1c1c1 100%);
    padding: 10px;
    color: black;
    border: solid 1px #c7c7c7;
    border-radius: 4px;
    font-weight: 400;
}

.datepicker-dropdown {
    background: linear-gradient(to bottom, rgb(222, 215, 215) 0%, rgba(255, 255, 255, 1) 49%, rgb(224, 222, 222) 100%) !important;

}

.handle {
    font-weight: bolder;
}

.dow {
    font-weight: bold;
}

.table-responsive {
    /*overflow-x: hidden !important;*/
}
.table-responsive::-webkit-scrollbar {
    display: none;
}

.datepicker .datepicker-switch, .datepicker .next, .datepicker .prev, .datepicker tfoot tr th {
    font-weight: 400 !important;
    background: linear-gradient(to bottom, #fbfbfb 0%, #ececec 39%, #ececec 39%, #c1c1c1 100%);
}

.datepicker table tr td.active {
    background-color: #1389FF !important;
    color: #fff !important;
    background-image: linear-gradient(to bottom, #9ecdff, #3178bf) !important;
    font-weight: 900 !important;
}

.datepicker th, .datepicker td {
    background: linear-gradient(to bottom, #fbfbfb 0%, #ececec 39%, #ececec 39%, #c1c1c1 100%);
}

.save-icon {
    background: url('../../images/save-icon.png') no-repeat left center !important;
    padding: 0px 0px 0px 22px;
}

.delete-icon {
    background: url('../../images/delete-icon.png') no-repeat left center !important;
    padding: 0px 0px 0px 22px;
}

.btn-default {
    background-image: none !important;
    background: linear-gradient(to bottom, #F7F7F7 0%, #F8F8F8 39%, #D5D5D5 100%) !important;
    color: #000 !important;
    border: solid 1px #bfbfbf !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) !important;
}

.btn-default2 {
    background-image: none !important;
    background: linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%) !important;
    color: #fff !important;
    border: solid 1px #35add1 !important;
    text-shadow: none !important;
    border: solid 1px #fff !important;
}

.btn-default:hover {
    /*background:linear-gradient(to bottom, #0d85a8 0%, #35add1 39%,#44c0e5 100%) !important;*/
    background: linear-gradient(to bottom, #F7F7F7 0%, #D5D5D5 39%, #F8F8F8 100%) !important;
    border: solid 1px #dddddd !important;
}

button.dt-button, div.dt-button, a.dt-button {
    background-image: none !important;
    background: linear-gradient(to bottom, #F7F7F7 0%, #F8F8F8 39%, #D5D5D5 100%) !important;
    color: #000 !important;
    border: solid 1px #bfbfbf !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) !important;
}

button.dt-button:hover, div.dt-button:hover, a.dt-button:hover {
    background: linear-gradient(to bottom, #F7F7F7 0%, #D5D5D5 39%, #F8F8F8 100%) !important;
    border: solid 1px #dddddd !important;
}

.panel-default > .panel-heading {
    background-image: none !important;
    background: linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%) !important;
    color: #fff !important;
    border-color: #0f87aa;
}

.save-button {
    background-image: none !important;
    background: linear-gradient(to bottom, #49e36e 0%, #45d366 45%, #2EBD50 100%) !important;
    padding: 6px 14px !important;
    text-shadow: none !important;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #fff !important;
}

.cancel-button {
    background-image: none !important;
    background: linear-gradient(to bottom, #ff6261 0%, #ff5150 45%, #FF2726 100%) !important;
    padding: 6px 10px !important;
    text-shadow: none !important;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #fff !important;
}

button .fa {
    margin-right: 3px;
}

#myModal button.close {
    background: linear-gradient(to bottom, #ff7978 39%, #FF2725 100%);
    padding: 2px 6px !important;
    color: #fff;
    top: -10px;
    position: relative;
    right: -7px;
    opacity: 1;
    border-radius: 50%;
}

table.dataTable tbody tr:hover.even > td a, table.dataTable tbody tr:hover.odd > td a {
    color: #4a4a4a !important;
}

#restToPay .form-group {
    position: relative;
}

.driver-payment-group, .notes-payment-group {
    position: relative;
}

.driver-payment-group .driver-buttons {
    position: absolute;
    left: 51.3%;
    bottom: 40px;
    display: flex;
    align-items: center;
}
i.fa.fa-edit {
    font-size: 20px;
}

.notes-payment-group .notes-buttons {
    position: absolute;
    left: 51%;
    top: 33px;
    display: flex;
    align-items: center;
}

.add-field {
    background-color: green;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    border: none;
    outline: hidden;
    position: absolute;
    top: 35px;
    left: -27px;
}
#salary_advance_request #restToPay .add-field{
    left: auto;
}

#restNotes .add-field {
    left: -12px;
}

.add-field i {
    font-size: 13px;
    color: white;
}

.driver-buttons .remove-group, .notes-buttons .remove-group {
    margin-right: 15px;
    font-size: 13px;
    background: #c12e2a;
    padding: 7px;
    border-radius: 50%;
    color: white;
}
td.approved-status span {
    background-color: #0AFA00;
    padding: 6px 3px;
    color: white;
    font-weight: bold;
}
i.fa.fa-plus {
    margin: 0;
}
select#request_type {
    width: 75%;
    background: white !important;
}

.drivers_request_div input[type="text"] {
    height: 34px;
}
.drivers_request_div input:not(input[type="file"]),.drivers_request_div select,.drivers_request_div textarea {
    background: white !important;
}
.driver-payment-group {
    /*margin-top: 20px;*/
}
.driver-payment-group .col-xs-2 {
    background: linear-gradient(to bottom, #F7F7F7 0%, #F8F8F8 39%, #D5D5D5 100%) !important;
    padding-bottom: 25px;
}
#salary_advance_request .col-xs-2 {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}
.drivers_request_div .col-md-3 {
    margin-top: 10px;
}
.drivers_request_div .col-md-6 {
    margin-top: 9px;
}
.table-filter input, .table-filter select {
    background: white !important;
}
.notes-payment-group {
    margin-top: 15px;
}
.notes-payment-group .col-xs-2 {
    background: linear-gradient(to bottom, #F7F7F7 0%, #F8F8F8 39%, #D5D5D5 100%) !important;
    padding-bottom: 25px;
}
#restNotes .add-field {
    left: auto;
}
input[type="file"] {
    background: linear-gradient(to bottom, #F7F7F7 0%, #F8F8F8 39%, #D5D5D5 100%) !important;
}
i.btn {
    background: linear-gradient(to bottom, #F7F7F7 0%, #F8F8F8 39%, #D5D5D5 100%) !important;
}
#notes_refund_request .col-xs-2 {
    margin: 10px 0;
}
#vacation_request .col-xs-2 {
    margin: 10px 0;
}
#absence_request .col-xs-2 {
    margin: 10px 0;
}
.attach-main {
    display: flex;
    justify-content: space-between;
}
.attach-buttons i.fa.fa-minus {
    margin: 0;
}