
.beatpicker {
	box-shadow: 0 3px 2px #eee;
	-moz-box-shadow: 0 3px 2px #eee;
	-o-box-shadow: 0 3px 2px #eee;
	-webkit-box-shadow: 0 3px 2px #eee;
	background-color: #f8f8f8;
	color: #373737;
	font-family: Trebuchet MS;
	font-size: 13px;
	height: auto;
	min-width: 200px;
	padding: 4px;
	position: absolute;
	width: 250px;
	border: 1px solid #e1e1e1;
	border-bottom: 3px solid #cfcfcf;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline-style: none;
	z-index: 9999
}
.beatpicker .button {
	background-color: #121e31;
	border: medium none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font: bold 12px/2 arial, tahoma, sans-serif;
	margin: 0 2px;
	padding: 5px;
	text-align: center;
	text-decoration: none
}
.beatpicker .button:hover {
	background-color: #257eae
}
.beatpicker-inputnode {
	background-position: right center;
	background-repeat: no-repeat;
	cursor: pointer
}
.beatpicker ul {
	margin: 0;
	padding: 0
}
.beatpicker ul.cell-parent, .beatpicker li.cell {
	list-style: none outside none
}
.beatpicker ul.cell-parent {
	margin: 0 auto;
	width: 100%
}
.beatpicker li.cell {
	float: left;
	margin: 0 7px;
    padding: 0;
	text-align: center;
	width: 8%;
	white-space: nowrap
}
.beatpicker .days .cell-parent li.cell {
	cursor: pointer;
	transition: background-color .09s linear 0
}
.beatpicker .days .cell-parent li.cell.cell-months, .days .cell-parent li.cell.cell-years {
	padding: 7% 5.5%;
	width: 12%
}
.beatpicker .days .cell-parent li.cell:hover {
	background-color: #555555;
	color: #fff !important;
	font-weight: bold
}
.beatpicker .main-nav {
	background-color: #121e31;
	height: 30px;
	margin: 0 auto;
	padding: 2px;
	position: relative;
	color: black; color:#fff;
}
.beatpicker .main-nav .button {
	background-color: transparent;
	font-family: inherit;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding: 2px 0;
	margin: 0;
	position: absolute;
	top: 0;
	width: 14%
}
.beatpicker .main-nav .button:hover {
	background-color: #257eae
}
.beatpicker .main-nav .button.next {
	right: 0 ; background:none;
}
.beatpicker .main-nav .button.prev {
	left: 0; 
}
.beatpicker .days .cell-parent li.cell.date-disabled.between-range {
	background-color: #f2dfa0;
	color: #4b4b4b
}
.beatpicker .days .cell-parent li.cell.date-disabled:hover {
	background-color: #c2c2c2;
	color: #fff
}
.beatpicker .days .cell-parent li.cell.not-notable {
	color: #ababab
}
.beatpicker .days .cell-parent li.cell.date-disabled, .days .cell-parent li.cell.not-notable.date-disabled {
	color: #c6c6c6
}
.beatpicker .days .cell.notable-today {
	background-color: #4184a9;
	color: #fff;
	font-weight: bold
}
.beatpicker .days .cell-parent li.cell.not-notable.notable-today:hover {
	color: #9d9d9d !important
}
.beatpicker .days .cell-parent li.cell.not-notable.notable-today {
	background-color: transparent;
	box-shadow: 0 0 0 1px #47758e inset;
	color: #9d9d9d
}
.beatpicker .days .cell-parent li.cell.selected-date {
	background-color: #f79851;
	color: #fff;
	font-weight: bold
}
.beatpicker .days .cell-parent li.cell.selected-date.notable-today {
	box-shadow: 0 0 0 2px #d08451 inset
}
.beatpicker .days .cell-parent li.cell.between-range {
	background-color: #efd069
}
.beatpicker .days .cell-parent li.cell.between-range:hover {
	background-color: #d35d5d
}
.beatpicker .days .cell.notable-today.between-range {
	box-shadow: 0 0 0 2px #4184a9 inset;
	color: #3d3d3d
}
.beatpicker .days .cell-parent li.cell.between-range.not-notable {
	color: #292929
}
.beatpicker .main-nav .current-indicator {
	background-color: transparent;
	color: #fff;
	font-family: arial;
	font-size: 12px;
	left: 14%;
	width: 72%; line-height:25px;
}
.beatpicker .main-nav .current-indicator:hover {
	background-color: #bb5050
}
.beatpicker .footer {
	background-color: #fff;
	border-top: 1px solid #e1e1e1;
	display: inline-block;
	margin-bottom: -4px;
	margin-left: -4px;
	padding: 0 4px 4px;
	position: relative;
	width: 100%
}
.beatpicker .footer input.date-input[type="text"] {
	float: left;
	height: 23px;
	margin: 0 -1px 0 0;
	padding: 0;
	width: 81%
}
.beatpicker input[type="text"] {
	border: 1px solid #d2d2d2;
	color: #737373;
	font-family: inherit;
	margin: 0 1px;
	padding: 4px
}
.beatpicker .footer .button.today, .beatpicker .footer .button.date-input-button {
	height: 25px;
	margin-top: 5px;
	padding: 0;
	width: 25%
}
.beatpicker .goto-date-parent.goto-date-container {
	float: right;
	margin-top: 5px;
	width: 65%
}
.beatpicker .footer .button.date-input-button {
	float: left;
	margin: 0;
	width: 15%
}
.beatpicker .footer .button.today {
	margin-left: 2%
}
.beatpicker input[type="text"]::-moz-placeholder {
color:#959595;
font-size:74%;
opacity:1;
text-transform:lowercase
}
.beatpicker input[type="text"]::-webkit-input-placeholder {
color:#959595;
font-size:74%;
opacity:1;
text-transform:lowercase
}
.beatpicker input[type="text"]:-moz-placeholder {
color:#959595;
font-size:74%;
opacity:1;
text-transform:lowercase
}
.beatpicker input[type="text"]:-ms-input-placeholder {
color:#959595;
font-size:74%;
opacity:1;
text-transform:lowercase
}
.beatpicker-clearButton {
	display: none ;
}
