#mq{
    margin-top: 1px;
    width: 130px;
    color: #000;
    background: none repeat scroll 0% 0% #FAECA7;
    border: 2px solid #FFF;
    font-weight: bold;
    float: left;
    height: 17px;
    padding-left: 1px;
    font-size: 12px;
    word-spacing: -1px;
    overflow: hidden;
    line-height: 20px;
}

.floating-form { /*contact form wrapper*/
    max-width: 360px;
    padding: 16px 20px 15px 20px;
    border: 1px solid #ddd;
    right: 10px;
    position: fixed; /*Form position fixed*/
    z-index: 999999;
    background:linear-gradient(to bottom, #fafdff 0%, #e8f2f9 100%);
    width: 100%;
    min-height: 150px;
    /*top: 190px;*/
    height:503px;
}

.assistance-form {
    max-width: 410px;
    padding: 16px 20px 15px 20px;
    border: 1px solid #ddd;
    right: 10px;
    position: fixed;  
    z-index: 999999;
    background: linear-gradient(to bottom, #fafdff 0%, #e8f2f9 100%);
    width: 100%;
    min-height: 150px;
    height:450px;
}
.cookie-form {
    max-width: 410px;
    padding: 0px 45px 0px 10px;
    border: 1px solid #ddd;
    left: 0px;
    bottom: 0;
    position: fixed;  
    z-index: 999999;
    background: #e8f2f9;
    width: 100%;
    min-height: 105px;
    height:105px;
}


#jobs_form {
    left: 0;
    top: 150px;
}

#contact_form {
    top:150px !important;
}

#support_form {
    bottom: 25px;
    right: 0;
    max-width: 410px;
}

.floating-form input[type='text'], .floating-form-2 input[type='text'] {
    height: 40px;
}

.floating-form-2 {
    max-width: 410px;
    border: 1px solid #ddd;
    position: fixed;
    left: 173px;
    right: 12px;
    z-index: 999999;
    background: linear-gradient(to bottom, #fafdff 0%, #e8f2f9 100%);
    width: 100%;
    top: 0;
    min-height: 492px;
    max-height: 550px;
    padding: 10px 20px;
    margin: auto;
}

.contact-opener, .contact-opener-2, .contact-opener-3 {
    left:0px;
    border: 1px solid #1890b3;
    border-bottom: none;
    cursor: pointer;
    font-weight: bolder;
    color: #FFF;
    font-size: 0.8em;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    text-align: center;
    /*
    background-color: #00B22D;
    background-image: -o-linear-gradient(to bottom,#35c350 0%,#03b525 100%);
    background-image: -moz-linear-gradient(to bottom,#35c350 0%,#03b525 100%);
    background-image: -ms-linear-gradient(to bottom,#35c350 0%,#03b525 100%);
    background-image: -webkit-linear-gradient(to bottom,#35c350 0%,#03b525 100%);
    background-image: linear-gradient(to bottom,#35c350 0%,#03b525 100%);
    */
    background-color: #44c0e5;
    background-image: -o-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: -moz-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: -ms-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: -webkit-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
}

.contact-opener:hover {
    /*
    background-color: #35c350;
    background-image: -o-linear-gradient(to bottom,#03b525 0%,#35c350 100%);
    background-image: -moz-linear-gradient(to bottom,#03b525 0%,#35c350 100%);
    background-image: -ms-linear-gradient(to bottom,#03b525 0%,#35c350 100%);
    background-image: -webkit-linear-gradient(to bottom,#03b525 0%,#35c350 100%);
    background-image: linear-gradient(to bottom,#03b525 0%,#35c350 100%);
    */
    background-color: #44c0e5;
    background-image: -o-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: -moz-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: -ms-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: -webkit-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
}


.contact-opener-2 {
    background-color: #FF7C07;
    background-image: -o-linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FF7902 100%);
    background-image: -moz-linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FF7902 100%);
    background-image: -ms-linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FF7902 100%);
    background-image: -webkit-linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FF7902 100%);
    background-image: linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FF7902 100%);
}

.contact-opener-2:hover {
    background-color: #F89741;
    background-image: -o-linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FAA050 100%);
    background-image: -moz-linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FAA050 100%);
    background-image: -ms-linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FAA050 100%);
    background-image: -webkit-linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FAA050 100%);
    background-image: linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FAA050 100%);
    color:#fff;
    box-shadow: 0 1px 0 #ff9600 inset;
}


.contact-opener-3 {
    /*
    background-color: #44c0e5;
    background-image: -o-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: -moz-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: -ms-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: -webkit-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    */
    background-color: #00B22D;
    background-image: -o-linear-gradient(to bottom,#35c350 0%,#03b525 100%);
    background-image: -moz-linear-gradient(to bottom,#35c350 0%,#03b525 100%);
    background-image: -ms-linear-gradient(to bottom,#35c350 0%,#03b525 100%);
    background-image: -webkit-linear-gradient(to bottom,#35c350 0%,#03b525 100%);
    background-image: linear-gradient(to bottom,#35c350 0%,#03b525 100%);
    border: 1px solid #0d85a8;
    color:#fff;
}

.contact-opener-3:hover {
    /*
    background-color: #44c0e5;
    background-image: -o-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: -moz-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: -ms-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: -webkit-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    */
    background-color: #35c350;
    background-image: -o-linear-gradient(to bottom,#03b525 0%,#35c350 100%);
    background-image: -moz-linear-gradient(to bottom,#03b525 0%,#35c350 100%);
    background-image: -ms-linear-gradient(to bottom,#03b525 0%,#35c350 100%);
    background-image: -webkit-linear-gradient(to bottom,#03b525 0%,#35c350 100%);
    background-image: linear-gradient(to bottom,#03b525 0%,#35c350 100%);
    
    color:#fff;
    box-shadow: 0 1px 0 #44c0e5 inset;
}
.contact-opener-4 {
    /*background-color: rgb(163, 0, 150);
    background-image: -o-linear-gradient(to bottom,#a40195 0%, #7b2e67 39%, #a40195 100%);
    background-image: -moz-linear-gradient(to bottom,#a40195 0%, #7b2e67 39%, #a40195 100%);
    background-image: -ms-linear-gradient(to bottom,#a40195 0%, #7b2e67 39%, #a40195 100%);
    background-image: -webkit-linear-gradient(to bottom,#a40195 0%, #7b2e67 39%, #a40195 100%);
    background-image: linear-gradient(to bottom,#a40195 0%, #7b2e67 39%, #a40195 100%);
    background: rgb(163,0,148);
    background: linear-gradient(180deg, rgb(241, 10, 219) 0%, rgba(139,0,163,1) 100%);
    */
    background: linear-gradient(180deg, #9303d5 0%, #C646FF 100%);
    border: 1px solid #9303d5;
    position: fixed;
    bottom: 5px;
    right: 50px;
    padding: 10px 0 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
    cursor: pointer;
    border-radius: 999rem !important;
    background-color: rgb(163, 0, 150);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding:0.92857rem 1.57143rem;
    z-index: 9999999;
}

.contact-header {
     position: absolute;
    top: -48px;
    left: 0;
    padding: 10px 0 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    background: #C646FF; /*linear-gradient(180deg, rgb(241, 10, 219) 0%, rgba(139,0,163,1) 100%);*/
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.contact-opener-4:hover {
    /*background-color: rgb(163, 0, 150);
    background-image: -o-linear-gradient(to bottom,#a40195 0%, #7b2e67 39%, #a40195 100%);
    background-image: -moz-linear-gradient(to bottom,#a40195 0%, #7b2e67 39%, #a40195 100%);
    background-image: -ms-linear-gradient(to bottom,#a40195 0%, #7b2e67 39%, #a40195 100%);
    background-image: -webkit-linear-gradient(to bottom,#a40195 0%, #7b2e67 39%, #a40195 100%);
    background-image: linear-gradient(to bottom,#a40195 0%, #7b2e67 39%, #a40195 100%);
    background: rgb(163,0,148);
    background: linear-gradient(180deg, rgba(139,0,163,1) 0%, rgba(163,0,148,1) 100%);
    */
    background: linear-gradient(180deg, #C646FF 0%, #9303d5 100%);
    color: #fff;
    box-shadow: 0 1px 0 #9303d5 inset;

}
.contact-opener-5 {
    background-color: rgb(163, 0, 150);
    background: linear-gradient(to bottom, rgba(255,0,0,1) 0%, rgba(255,163,163,1) 100%);;
    border: 1px solid rgb(163, 0, 150);
}

.contact-opener-5:hover {
    background-color: rgb(163, 0, 150);
    background: linear-gradient(to bottom, rgba(255,163,163,1) 0%,rgba(255,0,0,1) 100%);;
    color: #fff;
    box-shadow: 0 1px 0 rgb(163, 0, 150) inset;

}

.contact-opener,
.contact-opener-3 { /*opener button*/
    position: absolute;
    left: -340px;
    -o-transform: rotate(-90deg); /* rotate button -90deg */
    -webkit-transform: rotate(-90deg); /* rotate button -90deg */
    -moz-transform: rotate(-90deg); /* rotate button -90deg */
    -ms-transform: rotate(-90deg); /* rotate button -90deg */
    transform: rotate(-90deg); /* rotate button -90deg */
    top: 289px;
    padding: 10px 0 13px;
    color: #fff;
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);*/
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    /*background-color: #5cb85c;*/
    font-size: 16px;
    font-weight: 600;
    width: 630px;
}

.contact-opener-2 {
    width: 59%;
    font-size: 11.5px;
    bottom: -46px;
  border: 1px solid #ff9600;
    position: absolute;
    left: 48px;
    border-radius: 0 0 10px 10px;
    right: 0;
    padding: 12px 0;
    height:45px;
}
.location-icon {
    background-color: #fff;
    background-image: url("../images/target.png");
    -moz-background-size: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    position: absolute;
    right: 2px;
    z-index: 999999;
    width: 30px;
    height: 90%;
    top: 2px;
    cursor: pointer;
    color: #000000;
}

.location-icon:hover {
    background-image: url("../images/location.svg");
}
/*
.contact-opener-4 {
    position: absolute;
    top: -50px;
    left: 0;
    padding: 10px 0 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    background-color: rgb(163, 0, 150);
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
*/

.visiable .contact-opener-2 {
    width:100%;
    left: 0;
}


.contact-opener-3 {
    right: -234px !important;
    top: 269px !important;
    width: 590px !important;
    left: 30px;

    -o-transform: rotate(90deg); /* rotate button -90deg */
    -webkit-transform: rotate(90deg); /* rotate button -90deg */
    -moz-transform: rotate(90deg); /* rotate button -90deg */
    -ms-transform: rotate(90deg); /* rotate button -90deg */
    transform: rotate(90deg); /* rotate button -90deg */
}
.floating-form-2 .btn-successs, .floating-form .btn-successs {
    border-radius: 6px;
    color: #fff !important;
    font-size: 14px !important;
    font-weight: bold !important;
    padding: 8px 20px !important;
    margin-top: 2px !important;
    height: auto;

    background-color: #00B22D;
    background-image: -o-linear-gradient(to bottom,#35c350 0%,#03b525 100%);
    background-image: -moz-linear-gradient(to bottom,#35c350 0%,#03b525 100%);
    background-image: -ms-linear-gradient(to bottom,#35c350 0%,#03b525 100%);
    background-image: -webkit-linear-gradient(to bottom,#35c350 0%,#03b525 100%);
    background-image: linear-gradient(to bottom,#35c350 0%,#03b525 100%);
    border: 1px solid #FEFEFE !important;
    box-shadow: 0 1px 0 #00B22D inset !important;
}
.floating-form .btn-successs:hover{
    background-color: #35c350;
    background-image: -o-linear-gradient(to bottom,#03b525 0%,#35c350 100%);
    background-image: -moz-linear-gradient(to bottom,#03b525 0%,#35c350 100%);
    background-image: -ms-linear-gradient(to bottom,#03b525 0%,#35c350 100%);
    background-image: -webkit-linear-gradient(to bottom,#03b525 0%,#35c350 100%);
    background-image: linear-gradient(to bottom,#03b525 0%,#35c350 100%);
}


.floating-form-2 .btn-successs{
    background-color: #FF7C07;
    background-image: -o-linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FF7902 100%);
    background-image: -moz-linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FF7902 100%);
    background-image: -ms-linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FF7902 100%);
    background-image: -webkit-linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FF7902 100%);
    background-image: linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FF7902 100%);
    border: 1px solid #FEFEFE !important;
    box-shadow: 0 1px 0 #FC8213 inset !important;
}



.floating-form-2 .btn-successs:hover {
    background-color: #F89741;
    background-image: -o-linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FAA050 100%);
    background-image: -moz-linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FAA050 100%);
    background-image: -ms-linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FAA050 100%);
    background-image: -webkit-linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FAA050 100%);
    background-image: linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FAA050 100%);
    color:#fff;
    box-shadow: 0 1px 0 #ff9600 inset;
}
#jobs_form .btn-successs{
    background-color: #0d85a8;
    background-image: -o-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: -moz-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: -ms-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: -webkit-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    border: 1px solid #FEFEFE !important;
    box-shadow: 0 1px 0 #0d85a8 inset !important;
}

#jobs_form .btn-successs:hover {
    background-color: #0d85a8;
    background-image: -o-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: -moz-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: -ms-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: -webkit-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    color:#fff;
    box-shadow: 0 1px 0 #0d85a8 inset;
}

#contact_form .btn-successs {
    background-color: #0d85a8;
    background-image: -o-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: -moz-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: -ms-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: -webkit-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    border: 1px solid #FEFEFE !important;
    box-shadow: 0 1px 0 #0d85a8 inset !important;
}

#contact_form .btn-successs:hover {
    background-color: #0d85a8;
    background-image: -o-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: -moz-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: -ms-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: -webkit-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    color:#fff;
    box-shadow: 0 1px 0 #0d85a8 inset;
}

.close-btn, .close-btn-2, .close-btn-3, .close-btn-4, .close-btn-5 {
    color: #5cb85c;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 18px;
    position: absolute;
    right: -1px;
    top: -4px;
}

.close-btn-5 {
    top: 5px;
    right:-25px;
    color: #fff !important;
    font-weight: 700;
    font-size: 14px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #ff9797 0%,#f97171 47%,#ff3030 100%);
    padding: 3px 0px 0px 5px;
    width: 32px;
    height: 32px;
}
.close-btn-2 {
    top:0px;
}
.close-btn-4:hover {
    color: #a1cc6f;
}

.close-btn-4 {
    top: -40px;
    right: 10px;
    color:#fff;
}

.floating-form .alert, .floating-form-2 .alert {
    border: 1px solid #999 !important;
    color: #000 !important;
    margin-bottom: 10px !important;
    font-size: 11px !important;
    padding:6px 10px;
    line-height: 20px;
}
.floating-form select.form-control, .floating-form-2 select.form-control {
    padding: 6px 0 !important;
    height: 40px !important;
    margin: 0 !important;
}
.floating-form textarea.form-control {
    height: 77px;
}
.floating-form-2 h4 {
    font-size: 18px;
}

.floating-form .col-xs-4,.floating-form-2 .col-xs-4 {
    width: 37.33333%;
}

.message_box {
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 100px;
    width: 70%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .floating-form select.form-control, .floating-form-2 select.form-control, .assistance-form select.form-control {
        -webkit-appearance:menulist-button;
        -moz-appearance:menulist-button;
        line-height: 40px !important;
        padding: 6px 0 !important;
        height: 40px !important;
        margin-top:0px;
    }
    .floating-form, .floating-form-2 {
        padding-bottom: 13px !important;
    }
    .floating-form textarea.form-control, .floating-form-2 textarea.form-control {
        height: 77px;
    }
    .floating-form {

    }
}
.floating-form .form-group, .floating-form-2 .form-group {
    margin-bottom: 6px !important;
    overflow:hidden;
}
.floating-form .col-xs-12,.floating-form .col-xs-6,
.floating-form-2 .col-xs-6, .floating-form-2 .col-xs-12,
.floating-form .col-xs-4, .floating-form-2 .col-xs-4 {
    padding-left: 2px;
    padding-right: 2px;
}

@media only screen and (max-width:1200px){
    #contact_form  {
        top:207px !important;
    }
    #jobs_form  {
        top:207px !important;
    }
}

/* Floating Modal Style */
.alert .alert-success {
        word-break: break-word !important;
    }
    .chat_loader{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:rgba(0, 0, 0, 0.8);
        z-index: 9999;
        display: none;
    }
    .chat_loader img{
        position: relative;
        top: 50%;
        width: 40px; 
    }
    .floating-form {
        min-height: 630px;
    }
    .assistance-form {
        height: 350px;
    }
    .input_area_emoji > div{
        bottom: 80px;
        z-index: 9999;
    }
    .input_area_emoji > span{
        display: none;
    }
    
    .contact-opener-5
    {
        position: absolute;
        top: -50px;
        left: 0;
        padding: 10px 0 13px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
        cursor: pointer;
        border-radius: 5px 5px 0 0;
        background-color: #5cb85c;
        font-size: 16px;
        font-weight: bold;
        width: 410px;
        text-align: center;
        border-bottom: 0;
    }
    .users-chat-div2{
        clear: both;
        padding-bottom: 8px;
        position: relative;
        background-color: lightgrey;
        border: 1px solid lightgrey;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .user-image-div{
        float: left;
    }
    .usercontent-div{
        padding-left: 10px;
    }
    .usercontent-div p{
        margin: 0px;
    }
    .usercontent-div small{

    }
    .real-chat-badge{
        position: absolute;
        top: 0px;
        right: 10px;
        color: grey;
    }
    .historychating{
        height: 335px;
        overflow: auto;
        margin-bottom: 10px;
    }
    .historychating::-webkit-scrollbar{
        background-color: lightgrey;
        width: 5px;
    }
    .historychating::-webkit-scrollbar-thumb{
        background-color: darkgrey;
        width: 5px;
    }