 @charset "utf-8";
/*
=========================================================================
Website             CAR SBOOKING ( Side Menu )
Author				conquerorstech.net ( TEAM )
URL					http://conquerorstech.com
UI Designer			Naresh UI Designer  
CSS					Side Menu
 
=========================================================================
 /* Import font from Google Font (Open sans) */

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width:100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}
#cssmenu ul ul {
  display: none;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 15px 20px;
  
  cursor: pointer;
  z-index: 2;
  font-size: 13px;
  text-decoration: none;
  color: #FFFEFE;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background: #121e31;
  background: -webkit-linear-gradient(#121e31, #20324e);
  background: -moz-linear-gradient(#121e31, #20324e);
  background: -o-linear-gradient(#121e31, #20324e);
  background: -ms-linear-gradient(#121e31, #20324e);
  /*background: linear-gradient(#121e31, #20324e);*/
  background:linear-gradient(to bottom, #D2D2D2 0%,#B9B7B7 44%,#949494 100%);
  
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
  color: #222;
  background: #ffda31;
  background: -webkit-linear-gradient(#ffda31, #ac8900);
  background: -moz-linear-gradient(#ffda31, #ac8900);
  background: -o-linear-gradient(#ffda31, #ac8900);
  background: -ms-linear-gradient(#ffda31, #ac8900);
  /*background: linear-gradient(#ffda31, #ac8900);*/
  /*background:linear-gradient(#D8D8D8, #D4D3D3 25%, #868484);*/
  background: linear-gradient(to bottom, #FFFFFF 0%,#C5C5C5 100%);
  
  text-shadow:0px 0px 0px !important;
}
#cssmenu > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #2c2c2c;
}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {
   
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
  border-color: #eeeeee;
}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
#cssmenu ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #12171e;
  border-left: 1px solid #12171e;
  border-right: 1px solid #12171e;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #eeeeee;
  background: #2c2c2c;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
  background: #222121;
  color: #ffffff;
}
#cssmenu ul ul li:first-child > a {
  box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#cssmenu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
  border-color: #ffffff;
}
