
/* 
Created on: 17 Sep, 2014, 4:29:37 PM
Author: senthil
*/

.ti_tx,
.mi_tx,
.mer_tx {
	width: 100%;
	text-align: center;
	margin: 10px 0;
}

.time-pick,
.mins,
.meridian {
	width: 60px;
	float: left;
	margin: 0 6px;
	font-size: 20px;
	color: #2d2e2e;
	font-family: arial;
	font-weight: 700;
}

.prev-picker,
.next12 {
	  border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    left: 12px;
    margin: 5px 0;
    padding: 18px;
    position: relative;
    width: 28%;
	background: url(../images/arrow-time.png) no-repeat;
	 
}

.prev-picker:hover,
.next12:hover {
	background-color: #ccc;
}

.next12 {
	background-position: 50% 150%;
}

.prev-picker {
	background-position: 50% -50%;
}

.time_pick {
	position: relative;
}

.timepicker_wrap {
	padding: 10px;
	border-radius: 5px;
	z-index: 2222;
	display: none;
	width: 170px;
	box-shadow: 2px 2px 5px 0 rgba(50,50,50,0.35);
	background: #f6f6f6;
	border: 1px solid #ccc;
	float: left;
	position: absolute;
	top: 70px !important;
	left: 0;
}

.arrow_top {
	position: absolute;
	top: -10px;
	left: 20px;
	background: url(../images/top_arr.png) no-repeat;
	width: 18px;
	height: 10px;
	z-index: 3;
}
input.timepicki-input {
	background: none repeat scroll 0 0 #FFFFFF;
    	border: 1px solid #CCCCCC;
    	border-radius: 5px 5px 5px 5px;
    	float: none;
    	margin: 0;
    	text-align: center;
    	width: 70%; padding:0;
}
