.d-none{ display: none !important; }

#notification,.notification{

   position: fixed;

    z-index: 1059;

    background-color: #f5f5f5;

    color:black;

    border: 1px solid #e9e9e9;

    border-bottom: 4px solid #cce;

    box-shadow: 1px 2px 3px 1px #cce;

    text-align: center;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);

    border-radius: 5px 5px 0 0;

    

}



#notification h2,.notification h2{

    background-color: rgb(163, 0, 150);

    color:white;

    font-size: 20px;

    border-bottom: 1px solid #e9e9e9;

    padding: 5px;

    margin: 0px !important;

}

#notification p,.notification p{

    min-height: 80px;

    font-size: 14px;

    padding: 10px;

}





/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (max-width: 991px) {  

  .notification,#notification

  {

    top: 35%;

    left: 10%;

    width: 80%;

  }

}

 

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) { 

  .notification,#notification

  {

    top: 35%;

    left: 30%;

    width: 40%;

  }

}