

.body-container {
 
    margin: 0 auto !important;
    min-height: 450px;
    padding: 15px;
    display: block;
}
.body-border {
 background: linear-gradient(to bottom, #fafdff 0%, #e8f2f9 100%) !important;
 border-style: solid !important;
    border-color: #66afe9 !important;
    border-width: thin !important;
    color:#0d4f78 !important;
}
.body-bg {
    background: #f1f1f1 !important;
}


.form-group {
    margin-bottom: 5px;
}


.wheelchair.wheel-chair-new {
  vertical-align: bottom;
}
.regular_options input[type="text"] {
    margin-bottom: 5px;
}
.regular_options input[type="checkbox"] {
    margin: 3px !important;
    width: 20px !important;
    height: 20px !important;
    position: relative;
    top: 5px;
    float:left;
}

.time_pick {
    float:left;
}
.wkdays_time_pick {
    width: 55px !important;
    font-size: 10px !important;
    font-weight: normal !important;
    height: 35px !important;
    padding: 6px !important;
    display: none;
    font-size: 12px !important;
}



.extra-stop-en,
.extra-stop-home-en {
    position: absolute;
    color: #fff;
    top: 30px;
    line-height: 100%;
    word-wrap: break-word;
}
.extra-stop-en {
    right: -45px;
    width: 21%;
    top: 44px;
    color: #000;
    display: block;
}
.extra-stop-en .plus {
    position: relative;
    cursor: pointer;
    display: block;
    float: left;
    width: auto;
    line-height: 14px;
    margin-right: 10px;
    text-transform: capitalize;
    font-size: 13px;
    color: #000;
    border-radius: 6px;
}
.submit-row {
    margin: 15px 0px;
    text-align: center;
}

.waiting_time_div_en {
    width: 37%;
    top: 10px;
    right: 0px;
}
.re-gu {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
    display: block;
    float: left;
    font-size: 19px;
    font-weight: 100;
    margin: 15px 3px 46px 13px;
    padding: 10px 7px;
    width: 237px;
}
.booking_head {
  
     background-color: #44c0e5;
   background-image: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    color: #fff !important;
    font-weight: bold !important;
    padding: 6px 10px;
}

.right-side-cont {
    background: #f4f4f4;
    float: left;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0px;
}
input[type=radio].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
input[type=radio].css-checkbox + label.css-label {
    padding-left: 0px;
    height: 18px;
    display: inline-block;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 15px;
    float: left;
    padding-top: 0px;
}


input[type=radio].css-checkbox:checked + label.css-label {
    background-position: 0 -18px;
}









a.plus {
    position: relative;
    cursor: pointer;
    display: block;
    float: left;
    width: auto;
    line-height: 14px;
    margin-right: 10px;
    text-transform: capitalize;
    font-size: 13px;
    color: #000;
    border-radius: 6px;
}


a.minus {
    position: relative;
    cursor: pointer;
    display: block;
    float: right;
    width: auto;
    line-height: 14px;
    margin-right: 0px;
    text-transform: capitalize;
    font-size: 13px;
    color: #000;
    border-radius: 6px;
}

.dte {
    margin-left: 5px;
    width: 70% !important;
    position: relative;
    padding: 8px !important;
    height: 36px !important;
}

.start_date, .start_time, .end_date, .end_time {
    display:none;
}



.date-time {
  
    width:auto !important;
    float:none;
   
}

.date-time .pickdt, .date-time .picktime {
    width:20%;
    float:left;
    display: block;
}



.date-time .dropdt, .date-time .droptime{
    margin-left:10px;
    float:left;
    display: block;
}

.date-time .dropdt {
    width:26%;
}


.date-time .droptime {
    width:20%;
}

.date-time .pickdt, .date-time .picktime, .date-time .dropdt, .date-time .droptime {
    font-size:13px;
}

input.light_orange_button {
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    padding: 8px 32px;
    text-decoration: none;
    background: #FF7C07 linear-gradient(to bottom,rgb(255, 153, 0) 0%,#FF7902 100%);
    border: 1px solid #FEFEFE;
    box-shadow: 0 1px 0 #FC8213 inset;
}

input.light_orange_button:hover {
    background: #F89741 linear-gradient(to bottom,rgb(255, 157, 10) 0%,#FAA050 100%);
    color: #fff;
    box-shadow: 0 1px 0 #ff9600 inset;
    border: 1px solid #FEFEFE;
}


#journey_details {
    z-index: 1111;
    margin: 0 auto 0px 4px !important;
    width: 98%;
    border-radius: 8px;
    background: transparent;
    color: #fff;
}

.scrooll {
    width: 100%;
    float: left;
    overflow: hidden;
    z-index: 999999 !important;
}

 
#cars_data_list .che-car {
    font-size: 20px !important;
    border: 3px solid transparent !important;
    background: none !important;
    border-radius: 100%;
    float: left;
    line-height: 43px;
    text-align: center;
    color:#4d4d4d;
    margin-top:10px;
}

input[type=radio].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

#cars_data_list input[type=radio].css-checkbox + label.css-label {
    width:25px !important;
    margin-left:5px;
}




.wheelchairs {
    float: left !important;
    margin: 3px 3px;
    width: 45px !important;
    background: url(../images/wheelchair-white.png) no-repeat 10px 8px;
    padding-left: 0px !important;
    border: 1px solid #cccccc;
    color: #000;
    float: left;
    height: 45px;
    padding: 10px;
    width: 100%;
}


#cars_data_list .members, #cars_data_list .luggage, #cars_data_list .bags, #cars_data_list .wheelchairs, .wheelchairs-en {
    border: none !important;
    color: #fff;
}

.pickup-dt-bkg {
    float: left;
    margin-left: 0px;
}

.pickup_dt_label, .start_dt_label, .pickup_time_label, .start_time_label, .dropof_time_label, .end_time_label {
    font-size:13px;
    width:100%;
}



.other_options .members {
    float: left !important;
    margin: 10px 3px 3px;
    height: 30px;
    width: 30px;
    padding: 10px;
    background: url(../images/members.png) no-repeat;
    padding-left: 0px !important;
    
}

.other_options .luggage {
    background: url(../images/luggage.png) no-repeat;
    width: 30px;
    padding-left: 0px !important;
    height:30px;
    padding: 10px;
    float: left !important;
    margin: 10px 3px 3px;
}

.other_options .wheelchair {
    float: left !important;
    margin: 10px 3px 3px;
    width: 30px;
    background: url(../images/wheelchair.png) no-repeat;
    padding-left: 0px !important;
    color: #000;
    float: left;
    height: 30px;
    padding: 10px;
}
.wheelchair {
    width: 30px;
    background: url(../images/wheelchair.png) no-repeat;
    color: #000;
    height: 20px;
    padding: 4px;
    display: inline-block;
    background-size: contain;
    margin-right: -10px;
}

.other_options .babyseat {
    float: left !important;
    margin: 10px 3px 3px;
    width: 30px;
    background: url(../images/baby.png) no-repeat;
    padding-left: 0px !important;
    color: #000;
    float: left;
    height: 30px;
    padding: 10px;
}

.other_options .animal {
    float: left !important;
    margin: 10px 3px 3px;
    width: 30px;
    background: url(../images/animal.png) no-repeat;
    padding-left: 0px !important;
    color: #000;
    float: left;
    height: 30px;
    padding: 10px;
}


.other_options .no_of_persons, .other_options .no_of_luggage, .other_options .no_of_wheelchair, .other_options .no_of_babyseat, .no_of_animal {
    margin-top:10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}



.other_options .pull-left input {
  margin-right: 5px;
}
.other_options .pull-left i {
  margin-right: 2px;
}

#drop_address input.grad-bg {
  height: 36.2px !important;
}

#breadcrumb {
    box-shadow: 0 0 1px #fff;
    padding: 0px;
    margin: -15px 0px 0px 0px;
}
#breadcrumb a {
    padding: 8px 20px 8px 5px;
    display: inline-block;
    background-image: url(../images/breadcrumb.png);
    background-position: center right;
    background-repeat: no-repeat;
    font-size: 13px;
    color: #666;
    text-decoration: none;
}
#breadcrumb a.current {
    font-weight: normal;
    color: #444;
}
#breadcrumb a:last-child {
    background-image: none;
}


.pickup_time_label{
    margin-bottom:0px;
}
.extra-stop-en,
.extra-stop-home-en {
    position: absolute;
    color: #fff;
    top: 30px;
    line-height: 100%;
    word-wrap: break-word;
}
.extra-stop-en {
    right: -45px;
    width: 21%;
    top: 44px;
    color: #000;
    display: block;
}
.extra-stop-en .plus {
    position: relative;
    cursor: pointer;
    display: block;
    float: left;
    width: auto;
    line-height: 14px;
    margin-right: 10px;
    text-transform: capitalize;
    font-size: 13px;
    color: #000;
    border-radius: 6px;
}
 .extra-stop-home-en, .extra-stop-home-fr {
    position: absolute;
    color: #333;
    top: 30px;
    line-height: 100%;
    word-wrap: break-word;
}

.extra-stop-home-en {
    right: 4px;
    width: 24px;
    top:50px;
}

.extra-stop-bkg-en {
    left:400px;
    top:66px;
}

.extra-stop-bkg-en div {
    margin-top:4px;
}
.mini-booking-box, .search-filter-box {
    position: absolute !important;
    top: 190px;
    right: 352px;
    width: 29.3%;
    z-index: 999;
    display: block;
    min-height: 360px;
    background: linear-gradient(to bottom, #fbfbfb 0%, #ececec 39%, #ececec 39%, #cecece 100%);
    border-radius: 0px;
    padding: 0px 0px;
}
.mini-booking-box {
    top:0px;
    padding: 0px 15px;
    margin:0px;
    min-height:460px;
}
.mini-booking-box form {
    padding:0px;
}

.mini-booking-box form label {
    padding-top:0px;
}
.mini-booking-box .bk-row, .search-filter-box .bk-row {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.mini-booking-box .bk-lbl {
    border: none;
    height: 45px;
    border-radius: 1px;
    background-color: #e6e6e6;
    font-size: 16px;
    color: #42413f;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    white-space: nowrap;
    vertical-align: middle;
    float: left;
    width: 120px;
}
.mini-booking-box input.address-search, .search-filter-box  input.address-search {
    border: none;
    box-shadow: none;
    height: 45px;
    background-color: #e6e6e6;
    font-size: 16px;
    color: #42413f;
    border-radius: 1px;
    padding-left: 5px;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
}

.trip-form {
    margin-top:0px !important;
    margin-bottom:5px !important;
    position:absolute !important;
    z-index:9999 !important;
    right:0px !important;
    padding:0px;
    min-height:500px;
}

.trip-form-header {
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    border-top: solid 0px;
    border-bottom: solid 0px;
    background: #FF7C07 linear-gradient(to bottom, rgb(255, 153, 0) 0%, #FF7902 100%);
    padding:10px;
    font-size: 18px;
    color:#fff;
    text-align: center;
    text-transform: capitalize;
}
.menu-new-big-icon {
    background-image: linear-gradient(to bottom, #6ADF37, #77BE58);
    position: absolute;
    font-size: 14px !important;
    line-height: normal !important;
    padding: 0px 10px !important;
    color: #FFF;
    font-weight: bold !important;
    display: block !important;
    text-transform: none !important;
    border-radius: 8px;
    top: 7px;
    right: 10px;
    z-index: 1;
}
.booking-tab {
    margin-left:0px;
    margin-right:0px;
    /*background: #b7b7b7 linear-gradient(to bottom, #f1f1f1 0%, #e2e2e2 100%);
    border: solid 1px #afafaf;
    */
    background:#f1f1f1;
    padding: 0px;
}

.booking-tab-pickup {
    width:100%;
}




.booking-tab .nav-tabs {
    border-bottom:solid 1px #a9a9a9 !important;
    padding-top:5px;
}

.booking-tab .tab-content {
    border-bottom: solid 1px #a9a9a9 !important;
    border-right: solid 1px #a9a9a9;
    border-left: solid 1px #a9a9a9;
    padding: 5px;
}

.booking-tab .nav-tabs > li > a {
    padding:10px 3.8px !important; 
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgb(222, 215, 215) 0%, rgba(255, 255, 255, 1) 49%, rgb(224, 222, 222) 100%) repeat scroll 0 0 !important;
    border:solid 1px #fff !important;
    color:#555;
    font-weight:bold;
    margin:0px !important;
}

.booking-tab .nav-tabs > li.active a {
    color:#555;
    background:#ff6f0f;
    border-bottom-color: transparent !important;
    
}
.booking-tab-pickup {
    width:100%;
}

.station_picktrain_1>.time_pick{
    width:17% !important;
    display:inline-block !important;
}
.station_droptrain_1>.time_pick{
    width:17% !important;
    display:inline-block !important;
}
.weekdays_none_floating>.time_pick{
    float:none !important;
    display:inline-block !important;
}

.airport_pick_flight>.time_pick{
     width:17% !important;
    display:inline-block !important;
}
.airport_drop_flight_1>.time_pick{
     width:17% !important;
    display:inline-block !important;
}
.picktime-bkg>.time_pick{
      width:100% !important;
    display:inline-block !important;
}
.droptime-bkg>.time_pick{
      width:100% !important;
    display:inline-block !important;
}
/*booking.php*/
.airlocation_pick_bkg,.pickup_flight_no_bkg,.pickup_flight_time_bkg,.packagebox_pick_bkg,
.trainlocation_pick_bkg ,.pickup_train_no_bkg,.pickup_train_time_bkg,.hotellocation_pick_bkg,.parklocation_pick_bkg,.servicecategoryinput,.pickserviceinput
{
    
 
  height:36px !important;
 
}
.pick_up_txtbox_bkg{
  height:40px !important;
}
.tab-content{
    background:linear-gradient(to bottom, #fbfbfb 0%, #ececec 39%, #ececec 39%, #cecece 100%);
    padding: 10px !important;
}


   .dropdt-bkt
    {
        width:101px !important;
    }
    .other_options input[type='radio'] {
        outline: none
    }
    .other_options label {
        padding: 10px !important;
        display: block;
        border: 1px solid #ccc;
        font-size: 11px;
        border-radius:5px;
        word-break: keep-all;
        background: #f2f2f2 linear-gradient(to bottom, #fbfbfb 0%, #ececec 39%, #ececec 39%, #cecece 100%) !important;
        color: #333;
        margin: 0 1px;
        width: 32.4%;
    }

    .other_options.configs .col-xs-4 {
        padding: 0 !important;
        width: 32.6%;
    }
    .other_options label:first-child, .other_options.configs .col-xs-4:first-child {
        margin-left: 5px;
    }
    .other_options label:last-child, .other_options.configs .col-xs-4:last-child {
        margin-right: 5px;
    }
    .other_options label:hover, .other_options label.active {
        background: #f0efef !important;
    }
    .other_options label table {
        margin-bottom: 0;
        border-radius: 5px;
    }
    .other_options label span {
        font-size: 11px;
    }
  
  
    .pickup_dt_label, .start_dt_label, .pickup_time_label, .start_time_label, .dropof_time_label, .end_time_label, .end_date {
        font-size: 11px !important;
    }
    
   
    
    label.pickup_dt_label, label.pickup_time, label.dropof_date, label.dropof_time {
        padding: 0 !important;
    }
    .dte {
        width: 100% !important;
        margin-left: 0 !important;
    }
    .date-time .dropdt, .date-time .droptime{
        margin-left: 0;
    }
    .booking-tab .nav-tabs > li > a{
        background: #f2f2f2 linear-gradient(to bottom, #fbfbfb 0%, #ececec 39%, #ececec 39%, #cecece 100%) !important;
        outline: none;
    }
    .booking-tab .nav-tabs > li.active > a{
        background: #fbfbfb linear-gradient(to bottom, #dedede 0%, #ececec 39%, #efefef 39%, #fbfbfb 100%) !important;
    }
    #airport_pick_flight .pickup_flight_no {
        float: left;
    }
    .weekdays_back {
        margin-right: 5px;
    }
    .return_car_div td {
        width: 80px;
    }
    .return_car_div .time_pick {
        float: none !important;
        display: inline !important;
    }
    .smpl_txt, .tmpr_txt {
        font-size: 14px !important;
    }
    .smpl_txt div, .tmpr_txt div {
        text-align: center;
        margin-top: 5px;
    }
    .smpl_txt img, .tmpr_txt img {
        width: 70%;
        margin: auto;
        height: 70px;
    }
  
    .wkdays_time_pick, .wkdays_time_drop {
        width: 55px !important;
    }
    .btn-configs{
        font-size: 12px;
        overflow: hidden;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
    }
    .btn-configs div {
       width: 20% !important;
        float: left;
    }
    .btn-configs div img{
        margin-top: 10px;
    }
    .btn-configs div input{
        width: 11px !important;
        padding: 6px 0 ;
    }
    .booking-tab .nav-tabs {
        padding-top: 0;
    }
    .mini-booking-box .tab-content {
        padding:2px 0 5px;
    }
    .slider-box-btn-div {
        position: absolute;
        width: 100%;
        bottom: 5px;
    }
    .booking-tab .nav-tabs > li > a {
        padding: 10px 5.5px !important;
    }
    .locatorr {
        position: absolute;
        right: 11px;
        margin-top: 9px;
        cursor: pointer;
        opacity:0.5;
        transition: .5s;
    }
    .locatorr:hover {
        opacity: 1;
    }
    .car_labe_ds{
        padding: 10px !important;
        display: block;
        border: 1px solid #ccc;
        font-size: 11px;
        border-radius: 5px;
        word-break: keep-all;
        background: #f2f2f2 linear-gradient(to bottom, #fbfbfb 0%, #ececec 39%, #ececec 39%, #cecece 100%) !important;
        color: #333;
        
    }
    .btn-configs div{

        background: linear-gradient(to bottom, rgb(222, 215, 215) 0%,rgba(255,255,255,1) 49%,rgb(224, 222, 222) 100%) !important;
    }
    .btn-configs div input{
       background: linear-gradient(to bottom, rgb(222, 215, 215) 0%,rgba(255,255,255,1) 49%,rgb(224, 222, 222) 100%) !important; 
       height: 35px !important;
       width:600px;

   }
.btn-booking-next{
   background: linear-gradient(to bottom, #c9de96 0%, #82bf50 49%, #72b222 100%) !important;
    color: white !important;
    font-size: 25px !important;
    margin-right:140px !important;
    margin-top:-0px !important;
    height:40px !important;
    padding:5px 20px !important; 
    line-height: 27px !important;
 }
/*booking quote*/
 #map {
        height: 100%;
    }
    .map-wrapper {
        height:300px;
       width: 100% !important;
          
    }

    .overflow-book-text{
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
    }
     .payment-price-book-div{
        position:relative;
        bottom: -5px;
    }
    .payment-right-price-btn{
   background-color: #44c0e5;
   background-image: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
   color: #fff !important;
    border:1px solid #44c0e5;
     font-weight: 900 !important;
    position: absolute;
    right: -30px;
    top: 1px;
    width: 112.1%;
    border-radius: 0px;
    border-bottom-right-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    pointer-events: none !important;
    }
    .pyament-left-booknum-btn{
     font-weight: 900 !important;
     position:absolute;
     left: -30px;
     width: 56.1%;
     border-bottom-left-radius: 15px !important;
     pointer-events: none !important;
    }
        .payment-method-header-title{
             background-color: #44c0e5;
   background-image: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
   color: #fff !important;
    border:1px solid #44c0e5;
        width: 100%;
        border-radius: 0px;
        border-top-left-radius: 15px !important;
        border-top-right-radius: 15px !important;
        padding:5px 0px 5px 10px;
        font-size: 20px;
        font-weight:900 !important;
        text-align:center;
    }
    .payment-method-buttons-list{
        margin-top: -6px !important;
        width: 24%;
        float:left;
        position:relative;
        margin-left: 6px;
    }
    .payment-method-buttons-btn{
     width: 100% !important;
     height: 47px;
     padding:6px 0px 0px 22px !important; 
     white-space: pre-wrap;
     font-weight: 900;
    
     border-radius: 0px;
                               
    }
     .payment-method-buttons-btn span{
        vertical-align: baseline;
     }
     .payment-method-buttons-list input[type=radio]{
        position: absolute;
        top: 8px;
        left: 8px;
     }
    .payment-method-buttons-btn:hover,.payment-method-buttons-btn:focus{
        border-color:transparent !important;
    }

    #paymentmethoddiv ul{
       border:0px !important;
       display:block!important;
    }
     #paymentmethoddiv ul li{
       border:0px !important;
     
    }
    input[type='radio']{
         cursor: pointer;
    }
      #timesspantable td{
        width:12.5%;
    }
 .bookingdatabtns button{
        border-radius:0px;
    }
    .bookingdatabtns a span{
         border-radius:0px;
    }
    .booking-tab li{
      width: 13.5%;
    }
 
    #returnpicktimetable td{
      padding-left: 17px;
  }
  #confirmpaymentbookingbtn{
    background:linear-gradient(to bottom, #c9de96 0%, #82bf50 49%, #72b222 100%) !important;
    margin-right: -17px !important;
    color: #ffffff !important;
  }
    #confirmpaymentbookingbtn:hover, #confirmpaymentbookingbtn:focus{
    background:linear-gradient(to bottom, #c9de96 0%, #82bf50 49%, #72b222 100%) !important;
    color: #ffffff !important;
  }
  
  #bookingtable td, #bookingtable th{
    text-align: center;
  }
  #nextpaymentdetailsbtns{
background:linear-gradient(to bottom, #c9de96 0%, #82bf50 49%, #72b222 100%) !important;
color:#fff !important;
margin-right: -13px !important;
  }
  #nextpaymentdetailsbtns:hover,#nextpaymentdetailsbtns:focus{
 color:#fff !important;
  }
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.alertbooking {
    padding: 6px;
    background-color: #f44336;
    color: white;
    border-radius: 3px;
    width: 97%;
    margin: 0 auto;
}
.alertbookingsuccess {
  padding: 6px;
    background-color: #60ad60;
    color: white;
    border-radius: 3px;
    width: 97%;
    margin: 0 auto;
}

.closebookingbtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebookingbtn:hover {
  color: black;
}
#bookinginformationlistdiv li{
    border-bottom: 1px solid #ececec;
    font-size: 12px;
  
}
#bookinginformationlistdiv ul{
    list-style: none;
    margin:0px;
    padding:0px;
}
.error_div{
    position:relative;
    margin-top: 10px;
    color: #a94442;
}
.error_div>span{
    position:absolute;
    top: 5px;
    left:0;
    cursor: pointer;
}
.error_div>p{
    padding-left: 15px;
}
.invalid-error{
  color:red !important;
  font-weight: 600;
 font-size: 12px !important;
}
.invalid-error p{
  color:red !important;
  font-weight: 600;
  font-size: 12px !important;
}

.body-border input, .body-border  select, .body-border  textarea{
     border-style: solid !important;
    border-color: #66afe9 !important;
    border-width: thin !important;
    color:#0d4f78 !important;
}
.body-border input:focus,.body-border select:focus,.body-border  textarea:focus{
     border-style: solid !important;
    border-color: #66afe9 !important;
    border-width: thin !important;
   color:#0d4f78 !important; 
    outline-width:0px !important;
}
.body-border .input-group-addon, .body-border .inner-addon, .body-border input::placeholder,.body-border textarea::placeholder{
   color:#0d4f78 !important;
   
}
.body-border .btn-default{
     color:#0d4f78 !important;
}
.body-border li a{
     color:#0d4f78 !important;
}
.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    font-size: 13px;
    font-weight: 700;
}
ul.nav-wizard li a{
    color:#fff !important;
}
#currentuserpoibtn{
    position: absolute;
    right:5px;
    top: 9px;
    cursor: pointer;
}
#currentuserpoiinput{
    cursor: pointer !important;
     border-radius: 0px !important;
}
#currentuserpoidiv{
    position: absolute;
    right:0;
    top: 41px;
    z-index: 23;
    width: 93%;
    display: none;
}
#dropcurrentuserpoibtn{
    position: absolute;
    right:5px;
    top: 9px;
    cursor: pointer;
}
#dropcurrentuserpoiinput{
    cursor: pointer !important;
     border-radius: 0px !important;
}
#dropcurrentuserpoidiv{
    position: absolute;
    right:0;
    top: 41px;
    z-index: 23;
    width: 93%;
    display: none;
}
#locationloaderdiv{
     position: absolute;
    right:0;
    top: 42px;
    z-index: 23;
    width: 93%;
    display: none;
    text-align: center;
}
#locationloaderdiv img{
    width: 40px;
    height: 40px;
}
#droplocationloaderdiv{
     position: absolute;
    right:0;
    top: 42px;
    z-index: 23;
    width: 93%;
    display: none;
    text-align: center;
}
#droplocationloaderdiv img{
    width: 40px;
    height: 40px;
}



.squaredFour {
  
    position: relative;
}

.squaredFour label {
    cursor: pointer;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 4.2px;
    right:10px;
    border-radius:2px;
    border:thin solid rgb(195, 195, 195);
    

    
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    
}

.squaredFour label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 4px;
    background: transparent;
    top: 2.5px;
    left: 1px;
    border: 2px solid #333;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    transform: rotate(-50deg);
}



.squaredFour input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.amoutndetaildiv{
    border-bottom:1px solid #ebebeb;
  
}
.amountdetaillastdiv{
   
   background-color: #44c0e5;
   background-image: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    color: #fff !important;
    font-weight: bold !important;
    padding: 6px 15px;
}
.amountdetaillastdiv .dd1_amount{
    font-weight: 900;
    font-size:14px;
    float:left;
}
.amountdetaillastdiv .dd2_amount{
    font-weight: 900;
    font-size:14px;
    float:right;
}
.dd1_amount{
    float:left;
}
.dd2_amount{
    float:right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media only screen and (max-width: 992px) {
  ul.nav-wizard li .steps {
    font-size: 21px !important;
  }
   ul.nav-wizard li a{
   font-size: 14px !important;
   padding:0 0 0 24px;
  }
  .smpl_txt img{
    width: 40% !important;
  }
}

@media only screen and (max-width: 768px) {
  ul.nav-wizard li .steps {
    font-size: 18px !important;
  }
   ul.nav-wizard li a{
   font-size: 12px !important;
    padding:0 0 0 18px;
  }
   .smpl_txt img{
    width: 40% !important;
  }
}
@media only screen and (max-width: 678px) {
  ul.nav-wizard li .steps {
    font-size: 16px !important;
  }
   ul.nav-wizard li a{
   font-size: 10px !important;
    padding:0 0 0 16px;
  }
}

@media only screen and (max-width: 1200px){
    .booking_tab_size{
        width: 100% !important;
        margin-bottom: 10px !important;
    }
    .booking_icon_tab{
        text-align: center;
    }
    .booking_icon_tab > img{
        position: static !important;
    }
    .booking_service_tab{
          width: 100% !important;
        margin-bottom: 10px;
    }
}




@media only screen and (max-width: 992px){
  .booking_comment_tab_size{
      padding-left: 15px !important;
    }
   
  
}

@media only screen and (max-width: 768px){
   #currentuserpoibtn,#dropcurrentuserpoibtn{
      right:10px !important;
    }
    .col-extra-small{
        padding-left:0px !important;
        padding-right: 0px !important;
    }
    .col-arrival{
        margin-top:5px;
    }
    .booking_serivce_inner_tab{
          padding-left:0px !important;
        padding-right: 0px !important;
    }
    #timeslotsrtn{
       
        overflow-x: scroll !important;
    }
    #timeslotsrtn table{
         min-width: 768px !important;
    }
  
}


@media only screen and (max-width: 620px){
 .booking-tab ul li a , .booking-tab ul li button{
    font-size:10px !important;

 }

}
@media only screen and (max-width: 520px){
 .booking-tab ul li a , .booking-tab ul li button{
    font-size:9px !important;

 }

}
#carquotestab li>ul li{
   padding: 0px 0px 0px 5px !important;
}
.bookingquoteapplybtn,.bookingquotecreatebtn{
    background-color: #0d85a8;
    background-image: linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    border: 1px solid #FEFEFE !important;
    box-shadow: 0 1px 0 #0d85a8 inset !important;
    color:#fff;
    font-weight: 900;
}
.bookingquoteapplybtn:hover,.bookingquoteapplybtn:focus{
 color:#fff;
}
.bookingquotecreatebtn:hover,.bookingquotecreatebtn:focus{
 color:#fff;
}
.bookingquotebelowbtns{
     background-color: #44c0e5;
    background-image: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
   color: #fff !important;  
   border-radius: 0px;
    pointer-events: none;border-radius:0px;
    font-weight:900;
    width: 33.33%;
    height: 35px;
    float: left;
    border:0px;

}



.cardform-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}




.cardform-control {
   
    position: relative;
}


.cardform-control select{
  padding-left: 10px;
  height: 40px;
  font-size: 14px;
}

.cardform-control input:focus {
    outline: 0;
    border-color: #777;
}
.cardform-control select:focus {
    outline: 0;
    border-color: #777;
}

.cardform-control.success input {
    border-color: #2ecc71 !important;
}


.cardform-control.errors input {
    border-color: #e74c3c !important;
}
.cardform-control.success select {
    border-color: #2ecc71 !important;
}


.cardform-control.errors select {
    border-color: #e74c3c !important;
}

.cardform-control i {
    visibility: hidden;
    position: absolute;
    top: 11px;
    right: 5px;
    font-size:18px;
    z-index: 1200;
    background-color: white;
}

.cardform-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.cardform-control.errors i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.cardform-control small {
    color: #e74c3c;
    position: absolute;
    top: 35px;
    left: 2px;
    font-size:13px;
    font-weight:600;
    visibility: hidden;
}
.agreement_check + small {
    
    top: 40px !important;
    left: 2px;
  
}

.cardform-control.errors small {
    visibility: visible;
}
.ulbdnone{
    border:0px !important;
    display:block!important;
}
#bookinginformationlistdiv ul>li{
    padding:5px 0px 0px 0px;
    word-break: break-all;
}

#bookinginformationlistdiv ul li>ul li{
    padding: 5px 0px 0px 5px;
    word-break: break-all;
}
#bookinginformationlistdiv ul li>ul li:first-child{
  border-top:1px solid #ececec;
}
.datetimequotediv{
    border-bottom:1px solid #ececec !important;
    display:block!important;
}
.datetimequotediv>li{
     padding:5px 0px !important;
      margin-right:15px;
      border:0px !important;
      float: left;
}
.bbts-1{
     
     font-size: 12px !important;
     padding:5px 0px !important;
     border-bottom: 1px solid #ececec !important;
}
select {
    font-family: FontAwesome;
}
.pricemessagebox{
     background: #ff7c07 linear-gradient(to bottom, rgb(255, 153, 0) 0%, #ff7902 100%) repeat scroll 0 0;
   color: #fff !important;
    border:1px solid #ff7c07;
  border-radius: 5px;
  
}
.pricemessagebox h1,.pricemessagebox h2, .pricemessagebox h3,.pricemessagebox h4, .pricemessagebox h5, .pricemessagebox h6{
   margin-top: 0px !important;
   margin-bottom: 0px !important;
   border:0px;
   font-size:initial !important;
}
#map{

    border:1px solid #44c0e5;
}
#mapheader{
    background-color: #44c0e5;
     background-image: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
     color: #fff !important;
     border:1px solid #44c0e5;
     width:100%;
     text-align:center;
     font-weight:900;
    font-size: 16px;
}
.paymentmethodboxdiv{
   
    border:solid 1px #ddd;
    border-radius: 15px !important;
    padding:0px 0px 0px;
     border:1px solid #44c0e5;
}

.paymentsmethodspdtdiv{
 background-color: #44c0e5;
  background-image: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
 
padding:0px;
border-bottom-right-radius: 12px;
border-bottom-left-radius: 14px;
margin-top: 1px;
}

.wkdays_quote_pick {
    width: 55px !important;
    /* font-size: 10px !important; */
    font-weight: normal !important;
    /* height: 35px !important; */
    padding: 6px !important;
    /* display: none; */
    font-size: 12px !important;
}
.quotepicktimecol td{
    text-align: center;
    margin-bottom:20px;
     border-bottom: 5px solid transparent;
}

.quotepicktimecol td input{
    height:30px !important;
}
.payment-method-buttons-list{ 
word-break:normal !important;}
.plusgreeniconconfig{
    border: 1px solid green;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 16px;
    color: #ffffff;
    height: 25px;
    width: 24px;
    border-radius: 50%;
    background-color: green;
     padding: 0px;
    text-align: center;
    margin: 0px;
}
.plusgreeniconconfig > i {
    margin: 0px !important;
}
.minusredicon{
    border: 1px solid #c40d0d;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 14px;
    color: #ffffff;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #c40d0d;
     padding: 0px;
    text-align: center;
    margin-left: 2px;
    position: relative;
    
   
}
.minusredicon > i {
  position:absolute;
    top: 1px;
    left: 2px;
    margin: 0px !important;
}
.clientform_control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}




.clientform_control {
   
    position: relative;
}




.clientform_control input:focus {
    outline: 0;
    border-color: #777;
}
.clientform_control select:focus {
    outline: 0;
    border-color: #777;
}

.clientform_control.success input {
    border-color: #2ecc71 !important;
}


.clientform_control.errors input {
    border-color: #e74c3c !important;
}
.clientform_control.success select {
    border-color: #2ecc71 !important;
}


.clientform_control.errors select {
    border-color: #e74c3c !important;
}

.clientform_control i {
    visibility: hidden;
    position: absolute;
    top: 36px;
    right: 5px;
    font-size:18px;
     z-index: 1200;
    background-color: white;

}

.clientform_control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.clientform_control.errors i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.clientform_control small {
    color: #e74c3c;
    position: absolute;
    top: 59px;
    left: 2px;
    font-size:13px;
    font-weight:600;
    visibility: hidden;
}
.clientform_control.errors small {
    visibility: visible;
}
.modal-backdrop{
    height: 100% !important;
}
.modal span,.modal h4{
    color:#0d4f78;
}
#passengerdiv>li{
    padding-left: 0px !important;
}
.paymentmethoddiv{
         background: linear-gradient(to bottom, #fafdff 0%, #e8f2f9 100%) !important;
}
.paymentmethoddiv div{
         background: linear-gradient(to bottom, #fafdff 0%, #e8f2f9 100%) !important;
}
 .payment-method-buttons-btn{
     
      outline:0px !important;
  }
  .payment-method-buttons-btn:hover{
     
       background-position: 0px !important;
  }
 
 #passengerdiv .fa{
   
    font-weight: 900;
 }
 #passengerdiv span{
    font-size: 12px !important;
   
 }
 
 #clientpassengeraddsection{

    overflow: hidden;
    display: none;
 }
 #clientpassengeraddsection div.col-md-12{
    padding:0px !important;
}
  .close-passenger-btn {
    border: 0px solid #989898;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #5cb85c;
    background: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 18px;
    position: absolute;
    right: 2px;
    top: 0px;
    }
    .close-passenger-btn:hover,.close-passenger-btn:focus{
         color: #23527c;
    }
   #clientpassengercontentsection{
    background: linear-gradient(to bottom, #fafdff 0%, #e8f2f9 100%) !important;
    border-style: solid !important;
    border-color: #66afe9 !important;
    border-width: thin !important;
    color: #0d4f78 !important;
   }
   .amoutndetaildiv span{
    font-size:11px;
}
.pricemessagebox *{
    color:#fff;
}

 .gm-style-iw-c{
    background: linear-gradient(to bottom, #fafdff 0%, #e8f2f9 100%) !important;
    border-style: solid !important;
    border-color: #66afe9 !important;
    border-width: thin !important;
    color: #0d4f78 !important;
    }
.gm-style .gm-style-iw-d::-webkit-scrollbar-track, .gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece{
   background: none !important;
}
.gm-style-iw-d *{
     background: none !important;
      color: #0d4f78 !important;
}
.gm-style .gm-style-iw-t::after {
     background: linear-gradient(45deg,#e8f2f9 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%) !important;
}
.gm-ui-hover-effect img{
    display:none !important;
}

.gm-ui-hover-effect { 
    top: 1px !important;
    right: 1px !important;
    width: 15px !important;
    height: 15px !important;
    opacity: 0.6 !important;
    border-radius: 50% !important;
    border: 2px solid red !important;
}
.gm-ui-hover-effect:hover {
  opacity: 1;
}
.gm-ui-hover-effect:before, .gm-ui-hover-effect:after {
    position: absolute;
    right: 4px;
    top: 1px;
    content: ' ';
    height: 9px;
    width: 3px;
    background-color: red;
}
.gm-ui-hover-effect:before {
  transform: rotate(45deg);
}
.gm-ui-hover-effect:after {
  transform: rotate(-45deg);
}
.fw-900{
    font-weight: 900;
}
.removebbr{
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.hidepaymentmethodboxes{
    display: none !important;
}
.minusstopicon{
    border: 1px solid #c40d0d;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #ffffff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #c40d0d;
    position: relative;
    z-index: 10;
    font-size: 14px;
}
.minusstopicon i{
    position: absolute;
    top: 5px;
    left: 6px;
}
  
.currentstoplocationbtn {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;}

 .currentstoplocationdiv {
    position: absolute;
    right: 0;
    top: 31px;
    z-index: 23;
    width: 100%;
    display: none;
}
.currentstoplocationloader {
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 23;
    width: 100%;
    display: none;
    text-align: center;
}
.currentstoplocationloader img{
    width: 30px;
    height: 30px;
}
.currentstoppoiinput {
    cursor: pointer !important;
    border-radius: 0px !important;
}
.pickdt-bkg,.picktime-bkg,.dropdt-bkg,.droptime-bkg{
    padding-right:10px;
    float:left;
    display: block;
     width:20%;
}
.pickdt-bkg  label,.picktime-bkg label,.dropdt-bkg label,.droptime-bkg label{
    font-size:13px !important;
}
.time_pick input,.pickdt-bkg input,.dropdt-bkg input{
    text-align:center;
}

.plusgreeniconstop{
    border: 1px solid green;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 16px;
    color: #ffffff;
    height: 25px;
    width: 24px;
    border-radius: 50%;
    background-color: green;
     padding: 0px;
    text-align: center;
    margin: 0px;
    position: relative;
}
.plusgreeniconstop > i {
  margin: 0px !important;
  position: absolute;
  top: 5px;
  right: 5px;
}
.grbtn{
    background-color: #ffffff  !important;
    background: linear-gradient(#ffffff, #ffffff 25%, #d0d0d0) !important;
    color: #333 !important;
    border: 1px solid #44c0e5;
    border-top:0px;
    pointer-events: none;
    border-radius: 0px;
    font-weight: 900;
    width: 33.33%;
    height: 35px;
    float: left;
    font-size: 9px !important;
    }
.grdiv{
     background-color: #ffffff  !important;
    background: linear-gradient(#ffffff, #ffffff 25%, #d0d0d0) !important;
    color: #333 !important;
    border: 1px solid #ffffff;
}    
.brz{
    border-right: 0px !important;
}
.blz{
    border-left: 0px !important;
}
.pricemessagediv{
     border: 1px solid green;
     background: linear-gradient(to bottom, #dff0d8 0, #c8e5bc 100%);
     min-height: 34px;
     padding: 4px 5px;
     border-radius: 10px;
}
.pricemessagediv p{
    color: #000 !important;
    margin-bottom: 0px;
}
.edit-cardform-control {   
    position: relative;
}
.edit-cardform-control input:focus {
    outline: 0;
    border-color: #777;
}
.edit-cardform-control select:focus {
    outline: 0;
    border-color: #777;
}
.edit-cardform-control.errors input {
    border-color: #e74c3c !important;
}
.edit-cardform-control.errors select {
    border-color: #e74c3c !important;
}
.edit-cardform-control small {
    color: #e74c3c;
    margin-left: 35px;
    font-size:13px;
    font-weight:600;
    display:none;
}
.edit-cardform-control.errors small {
  display:block;
}
.clientaccountbtn{
    background-color: #44c0e5;
    background-image: -o-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: -moz-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: -ms-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: -webkit-linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);
    background-image: linear-gradient(to bottom, #0d85a8 0%, #35add1 39%, #44c0e5 100%);     
    border-radius: 4px 0px 0px 4px;
    font-size: 13px;
    font-weight: normal;
    border: 0px;
    color: #fff !important;
    padding: 5px 6px 7px;
    margin-left: 1px;
    margin-right: -2px;
    font-weight:900;
}
.clientaccountbtn:hover{
     background-image: -o-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: -moz-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: -ms-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: -webkit-linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%);
    background-image: linear-gradient(to bottom, #44c0e5 0%, #35add1 39%, #0d85a8 100%); 
}
.clientloginlogoutbtn{
   background-color: #f8012e;
   background-image: -o-linear-gradient(to bottom,rgba(255,0,0,1) 0%,rgba(255,163,163,1) 100%);
   background-image: -moz-linear-gradient(to bottom,rgba(255,0,0,1) 0%,rgba(255,163,163,1) 100%);
   background-image: -ms-linear-gradient(to bottom,rgba(255,0,0,1) 0%,rgba(255,163,163,1) 100%);
   background-image: -webkit-linear-gradient(to bottom,rgba(255,0,0,1) 0%,rgba(255,163,163,1) 100%);
   background-image: linear-gradient(to bottom,rgba(255,0,0,1) 0%,rgba(255,163,163,1) 100%);
   border-radius: 0px 4px 4px 0px;
   font-size: 13px;
   font-weight: normal;
   border: 0px;
   color: #fff !important;
   padding: 5px 6px 7px;
   margin-left: 1px;
   margin-right: -2px;
   font-weight:900;
}
.clientloginlogoutbtn:hover{
     background-image: -o-linear-gradient(to bottom, rgba(255,163,163,1) 0%,rgba(255,0,0,1) 100%);
    background-image: -moz-linear-gradient(to bottom, rgba(255,163,163,1) 0%,rgba(255,0,0,1) 100%);
    background-image: -ms-linear-gradient(to bottom, rgba(255,163,163,1) 0%,rgba(255,0,0,1) 100%);
    background-image: -webkit-linear-gradient(to bottom, rgba(255,163,163,1) 0%,rgba(255,0,0,1) 100%);
    background-image: linear-gradient(to bottom, rgba(255,163,163,1) 0%,rgba(255,0,0,1) 100%);
}